from libc.stdint cimport *
from godot._hazmat.gdnative_interface cimport GDNativeInterface


cdef extern from * nogil:
    # Global variables defined in `pythonscript.c`
    # Given `libpythonscript.so` is responsible for initializing the Python
    # interpreter, we are guanteed `pythonscript_gdapi` symbol is always
    # resolved and set to a non-null value \o/
    """
    #include <godot/gdnative_interface.h>
    #ifdef _WIN32
    # define DLL_IMPORT __declspec(dllimport)
    #else
    # define DLL_IMPORT
    #endif
    DLL_IMPORT extern const GDNativeInterface *pythonscript_gdapi;
    """

    cdef const GDNativeInterface *pythonscript_gdapi


cdef struct Variant:
    char _gd_data[{{ api.variant_size }}]


{% for spec in api["builtins"] if not spec.is_scalar %}
cdef struct {{ spec.c_struct_name }}:
{%   set c_struct_members = spec.c_struct_members %}
{%   if c_struct_members %}
{%     for member in c_struct_members %}
    {{ member.type.c_type }} {{ member.name }}
{%     endfor %}
{%   else %}
    char _gd_data[{{ spec.size }}]
{%   endif %}


{% endfor %}
