{% from 'builtins_pxd/class.pxd.j2' import render_class with context %}
{% from 'builtins_pxd/conversion.pxd.j2' import render_all_conversions with context %}
cimport cython
from cpython.mem cimport PyMem_Malloc, PyMem_Free

# Forward declarations
cdef class BaseGDObject
{% for builtin in api.builtins %}
cdef class {{ builtin.cy_type }}
{% endfor %}

from .hazmat cimport gdapi, gdptrs, gdextension_interface
from .hazmat.gdtypes cimport *


##############################################################################
#             Godot class dynamic generation & instance operations           #
##############################################################################


cpdef object _load_class(StringName name)
cpdef BaseGDObject _load_singleton(str name)
cdef void _cleanup_loaded_classes_and_singletons()
cdef object _object_call(gd_object_t obj, StringName meth, list args)


cdef inline object _get_python_instance_from_godot_object(gd_object_t obj):
    """
    Try to retrieve a Python object associated with the given Godot object pointer.
    Returns None if no Python object is associated (i.e. this is a pure Godot object).
    """
    cdef void* binding = gdptrs.gdptr_object_get_instance_binding(
        obj,
        gdptrs.gdptr_library,
        NULL  # Pass NULL to avoid creating a binding if one doesn't exist
    )
    if binding != NULL:
        return <object>binding
    return None


cdef class BaseGDObject:
    cdef gd_object_t _gd_ptr

    @staticmethod
    cdef inline object steal_cast_from_variant(const gd_variant_t *gdvar):
        """
        Return `None` if the variant is not an object (and in this case the caller
        is responsible to delete `gdvar`).
        Don't increase the refcount if the variant is a refcounted object (hence the
        "steal" in the name).
        """
        cdef gd_object_t obj = gdapi.gd_object_steal_from_variant(gdvar)
        if obj == NULL:
            return None
        return BaseGDObject.steal_cast_from_object(obj)

    @staticmethod
    cdef inline object steal_cast_from_object(gd_object_t obj):
        """
        Return `None` if object is NULL.
        Don't increase the refcount if the variant is a refcounted object (hence the
        "steal" in the name).
        """
        if obj == NULL:
            return None
        # First, check if this Godot object has an associated Python instance
        # (i.e. it's a Python extension class instance created by us)
        cdef object py_instance = _get_python_instance_from_godot_object(obj)
        if py_instance is not None:
            return py_instance
        # Otherwise, wrap the Godot object in a Python class wrapper
        # TODO: currently `Object.get_class` returns a `String` instead of a `StringName`
        #       which is kind of wasteful...
        #       see https://github.com/godotengine/godot-proposals/issues/14067
        cdef StringName class_name = StringName(_object_call(obj, StringName("get_class"), []))
        cdef object klass = _load_class(class_name)
        return klass._steal_from_ptr(<size_t>obj)


{{ render_all_conversions() }}


##############################################################################
#                             Builtins wrappers                              #
##############################################################################
{% for builtin in api.builtins %}


{{ render_class(builtin) }}
{% endfor %}
