{%- from 'builtins_pyx/class.pyx.j2' import render_class with context -%}
cimport cython
from libc.math cimport INFINITY as inf  # Needed by some constants

from .hazmat.gdnative_interface cimport *
from .hazmat.gdapi cimport *


{% for spec in api["builtins"] if not spec.is_scalar -%}
{{     render_class(spec) }}
{% endfor %}
