from collections.abc import Mapping, Sequence
from enum import Enum

from .classes import GDObject


# GDAny represent any type that can be send to / retreive from Godot
# (i.e. it is all the types than can be converted to a Godot Variant)
type GDAny = (
    None |
    BaseGDObject |  # TODO: Should use `GDObject` here
    bool |
    int |
    float |
{% for builtin in api.builtins %}
    {{ builtin.py_type }}{{ "" if loop.last else " |" }}
{% endfor %}
)
# For convenience, we allow using Python types where Godot ones are needed.
# This allows for instance to do `my_node.do("foo")` instead of the infamous
# `my_node.do(GDString("foo"))`.
# Of course keep in mind this involves types conversion and is slower than only working
# with Godot types (for instance to speed up the previous example, `GDString("foo")`
# should be instantiated once and reused between `my_node.do(...)` calls)
type IntoGDAny = GDAny | str | Mapping[IntoGDAny, IntoGDAny] | Sequence[IntoGDAny]

{%- macro render_arg(arg) -%}
{{ "{}: ".format(arg.name) }}
{%- if arg.type.original_name == "String" %}
{{ arg.type.py_type }} | str
{%- elif arg.type.original_name == "StringName" %}
{{ arg.type.py_type }} | str
{%- elif arg.type.original_name == "NodePath" %}
{{ arg.type.py_type }} | str
{%- elif arg.type.original_name == "List" %}
{{ arg.type.py_type }} | Sequence[IntoGDAny]
{%- elif arg.type.original_name == "Dictionary" %}
{{ arg.type.py_type }} | Mapping[IntoGDAny, IntoGDAny]
{%- elif arg.type.original_name == "Variant" %}
IntoGDAny
{%- else %}
{{ arg.type.py_type }}
{%- endif %}
{%- if arg.default_value is not none %}
 = {{ arg.default_value.py_value }}
{%- endif %}
{%- endmacro %}


##############################################################################
#                              Global constants                              #
##############################################################################

{# Nothing here: `extension_api.json` doesn't define global constants yet #}

##############################################################################
#                                Global enums                                #
##############################################################################
{% for enum in api.global_enums %}


class {{ enum.py_type }}(Enum):
{%   for item in enum.items %}
    {{ item.py_name }}: int
{%     if item.description %}
    """{{ item.description | gd_description_to_py_doc }}"""
{%     endif %}
{%   endfor %}
{% endfor %}


##############################################################################
#                                  Builtins                                  #
##############################################################################
{% for builtin in api.builtins %}


class {{ builtin.cy_type }}:
    """{{ builtin.description | gd_description_to_py_doc }}"""

    # Constructors
{%   for c in builtin.constructors %}
{#  TODO: merged together the constructors ! #}
    def __init__(self{% for a in c.arguments %}, {{ render_arg(a) }}{% endfor %}): ...
{%   endfor %}
    def clone(self) -> {{ builtin.py_type }}: ...
{%   if builtin.members %}

    # Members
{%   endif %}
{%   for m in builtin.members %}
    {{m.name}}: {{ m.type.py_type }}
{%   endfor %}
{%   if builtin.methods %}

    # Methods
{%   endif %}
{%   for m in builtin.methods %}
{%     if m.is_vararg %}
    def {{m.name}}(self, *args: IntoGDAny) -> {{ "None" if m.return_type.is_nil else m.return_type.py_type }}:
{%     else %}
    def {{m.name}}(self{% for a in m.arguments %}, {{ render_arg(a) }}{% endfor %}) -> {{ "None" if m.return_type.is_nil else m.return_type.py_type }}:
{%     endif %}
{%     if m.description %}
        """{{ m.description | gd_description_to_py_doc }}"""
{%     endif %}
        ...

{%   endfor %}
{%   if builtin.constants %}

    # Constants
{%   endif %}
{%   for c in builtin.constants %}
    {{c.name}}: {{c.type.py_type}}
{%     if c.description %}
    """{{ c.description | gd_description_to_py_doc }}"""
{%     endif %}
{%   endfor %}
{%   if builtin.enums %}

    # Enums
{%   endif %}
{%   for e in builtin.enums %}
    class {{ e.original_name }}(Enum):
{%     for item in e.items %}
        {{ item.py_name }}: int
{%       if item.description %}
        """{{ item.description | gd_description_to_py_doc }}"""
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}
