{%- from 'builtins_pyx/class.pyx.j2' import render_class with context -%}
{%- from 'builtins_pyx/conversion.pyx.j2' import render_all_conversions with context -%}
cimport cython
from cpython.mem cimport PyMem_Malloc, PyMem_Free
from libc.math cimport INFINITY as inf  # Needed by some constants
from libc.string cimport memset  # Needed to create zeroized builtins used in `__bool__`

# Forward declarations
{% for builtin in api.builtins %}
cdef class {{ builtin.cy_type }}
{% endfor %}

from typing import Sequence, Mapping
# GDAny represent any type that can be send to / retreive from Godot
# (i.e. it is all the types than can be converted to a Godot Variant)
GDAny = (
    None |
    BaseGDObject |  # TODO: Should use `GDObject` here
    bool |
    int |
    float |
{% for builtin in api.builtins %}
    {{ builtin.py_type }}{{ "" if loop.last else " |" }}
{% endfor %}
)
# For convenience, we allow using Python types where Godot ones are needed.
# This allows for instance to do `my_node.do("foo")` instead of the infamous
# `my_node.do(GDString("foo"))`.
# Of course keep in mind this involves types conversion and is slower than only working
# with Godot types (for instance to speed up the previous example, `GDString("foo")`
# should be instantiated once and reused between `my_node.do(...)` calls)
IntoGDAny = GDAny | str | Mapping["IntoGDAny", "IntoGDAny"] | Sequence["IntoGDAny"]


from .hazmat cimport gdapi, gdptrs, gdextension_interface
from .hazmat.gdtypes cimport *

from collections.abc import Iterable, Mapping, Sized  # Needed by Array&Dictionary constructors
from enum import IntEnum
from warnings import warn

# Unique object used as default parameter in constructors.
# We cannot simply use `None` since it would otherwise clash with the
# methods doing type conversion, for instance:
# ```
#   godot.String("foo").begins_with(None)  # `None` would be converted into an empty string !
# ```
cdef object _SENTINEL = object()


{{ render_all_conversions() }}
{% for spec in api.builtins %}


{{ render_class(spec) }}
{% endfor %}
{% for spec in api.global_enums %}


class {{ spec.cy_type }}(IntEnum):
{%   for item in spec.items %}
    {{ item.py_name }} = {{ item.value }}
{%   endfor %}
{% endfor %}
