{%- from 'classes_pyx/class.pyx.j2' import render_class with context -%}
cimport cython

from .hazmat cimport gdapi, gdptrs, gdextension_interface
from .hazmat.gdtypes cimport *
from .builtins cimport *


def __getattr__(name: str):
    try:
        return _load_class(name)
    except RuntimeError:
        raise AttributeError


cdef class BaseGDObject:
    def free(self):
        gdptrs.gdptr_object_destroy(self._gd_ptr)
        self._gd_ptr = NULL

    def __init__(self):
        raise RuntimeError(
            f"Use `new()` method to instantiate non-refcounted Godot object (and don't forget to free it !)"
        )

    @classmethod
    def new(cls):
        cdef gd_string_name_t name = gdapi.gd_string_name_from_unchecked_pystr(cls.__name__)
        cdef BaseGDObject obj = cls.__new__(cls)
        obj._gd_ptr = gdptrs.gdptr_classdb_construct_object(&name)
        return obj

    def __repr__(self):
        return f"<{type(self).__name__} wrapper on 0x{<size_t>self._gd_ptr:x}>"

    def _set_gd_ptr(self, ptr: int):
        # /!\ doing `<gd_object_t>ptr` would return the address of
        # the PyObject instead of casting it value !
        self._gd_ptr = <gd_object_t><size_t>ptr
        # Note if the object is a reference, we stole it from the caller given we
        # don't call `Reference.reference` here

    @classmethod
    def _from_ptr(cls, ptr: int):
        cdef BaseGDObject wrapper = cls.__new__(cls)
        wrapper._set_gd_ptr(ptr)
        return wrapper


# Classes


{#
# Forward declarations
{% for cls in api.classes %}
cdef class {{ cls.cy_type }}
{% endfor %}
{% for cls in api.classes %}


{{ render_class(cls) }}
{% endfor %}
#}


# Singletons


{# {% for klass in api.classes %} #}
{#  #}
{#  #}
{# cdef class {{ klass.cy_type }}({{ klass.inherits.cy_type if klass.inherits else "" }}): #}
{# {%   if klass.inherits is none %} #}
{#  #}
{#     {# @staticmethod #}
{#     cpdef inline {{ klass.cy_type}} new(): #}
{#         raise NotImplementedError("TODO :'(") #} #}
{#  #}
{#     def free(self): #}
{#         gdptrs.gdptr_object_destroy(self._gd_ptr) #}
{#         self._gd_ptr = NULL #}
{#  #}
{#     def __init__(self): #}
{#         raise RuntimeError( #}
{#             f"Use `new()` method to instantiate non-refcounted Godot object (and don't forget to free it !)" #}
{#         ) #}
{#  #}
{#     def __repr__(self): #}
{#         return f"<{type(self).__name__} wrapper on 0x{<size_t>self._gd_ptr:x}>" #}
{# {%   else %} #}
{#     pass #}
{# {% endif %} #}
{# {% endfor %} #}


cdef object _loaded_singletons = {}
cdef object _loaded_classes = {}


cdef void _cleanup_loaded_classes_and_singletons():
    _loaded_singletons.clear()
    _loaded_classes.clear()


cpdef object _load_singleton(str name):
    try:
        return _loaded_singletons[name]
    except KeyError:
        pass

    cdef object cls = _load_class(name)
{# cdef gd_object_t gdobj = gdptrs.gdptr_global_get_singleton(&(<StringName>cls._gd_name)._gd_data) #}
    cdef gd_string_name_t gdname = gdapi.gd_string_name_from_unchecked_pystr(name)
    cdef gd_object_t gdobj = gdptrs.gdptr_global_get_singleton(&gdname)
    gdapi.gd_string_name_del(&gdname)

    if gdobj == NULL:
        raise RuntimeError(f"Singleton `{name}` doesn't exist in Godot !")

    cdef object singleton = cls._from_ptr(<size_t>gdobj)

    _loaded_singletons[name] = singleton
    return singleton
{# {% for singleton in api.singletons %}
    cdef {{ singleton.type.py_type }} singleton_{{ singleton.name }} = {{ singleton.type.py_type }}.__new__({{ singleton.type.py_type }})
    singleton_{{ singleton.name }}._gd_ptr = gdptrs.gdptr_global_get_singleton("{{ singleton.original_name }}")
    globals()["{{ singleton.name }}"] = singleton_{{ singleton.name }}
{% endfor %} #}


cdef inline object _property_getter(object obj, object name):
    return _object_call((<BaseGDObject>obj)._gd_ptr, "get", [name])


cdef inline void _property_setter(object obj, object name, object value):
    _object_call((<BaseGDObject>obj)._gd_ptr, "set", [name, value])


cdef inline object _meth_call(object obj, object name, object args):
    return _object_call((<BaseGDObject>obj)._gd_ptr, "call", [name, *args])


cdef object _load_class(str name):
    try:
        return _loaded_classes[name]
    except KeyError:
        pass

    cdef StringName gdname = StringName(name)

    # Load our good friend ClassDB
    cdef StringName gdname_classdb = StringName("ClassDB")
    cdef gd_object_t classdb = gdptrs.gdptr_global_get_singleton(&gdname_classdb._gd_data)

    if not _object_call(classdb, "class_exists", [gdname]):
        raise RuntimeError(f"Class `{name}` doesn't exist in Godot !")

    gdparent = _object_call(classdb, "get_parent_class", [gdname])
    parent = str(gdparent)
    if parent:
        parent_cls = _load_class(parent)
        bases = (parent_cls, )
    else:
        bases = (BaseGDObject, )

    attrs = {"_gd_name": gdname}
    ################################ TODO: meth["name"] is GDString, should use str/StringName instead

    if name == "RefCounted":
        @classmethod
        def _new(cls):
            raise RuntimeError(f"RefCounted Godot object must be created with `{ cls.__name__ }()`")

        attrs["new"] = _new

        def _del(self):
            cdef BaseGDObject obj = <BaseGDObject>self
            if _object_call(obj._gd_ptr, "unreference", []):
                gdptrs.gdptr_object_destroy(obj._gd_ptr)
                obj._gd_ptr = NULL

        attrs["__del__"] = _del

        def _free(self):
            raise RuntimeError("RefCounted Godot object cannot be freed")

        attrs["free"] = _free

        def _init(self):
            cdef gd_string_name_t name = gdapi.gd_string_name_from_unchecked_pystr(type(self).__name__)
            (<BaseGDObject>self)._gd_ptr = gdptrs.gdptr_classdb_construct_object(&name)

        attrs["__init__"] = _init

    def _generate_method(spec, py_meth_name):
        gd_meth_name = spec["name"]
        def _meth(self, *args):
            return _meth_call(self, gd_meth_name, args)
        _meth.__name__ = py_meth_name
        return _meth

    meths = _object_call(classdb, "class_get_method_list", [gdname])
    for meth in meths:
        meth_name = str(meth["name"])
        attrs[meth_name] = _generate_method(meth, meth_name)

    # `Object` defines a `free`, but it doesn't work properly...
    attrs.pop("free", None)

    def _generate_property(spec):
        propname = spec["name"]
        @property
        def _property(self):
            return _property_getter(self, propname)
        @_property.setter
        def _property(self, value):
            _property_setter(self, propname, value)
        _property.fget.__name__ = str(spec["name"])
        _property.fset.__name__ = str(spec["name"])
        return _property

    properties = _object_call(classdb, "class_get_property_list", [gdname])
    for prop in properties:
        attrs[str(prop["name"])] = _generate_property(prop)

    signals = _object_call(classdb, "class_get_signal_list", [gdname])
    # TODO

    constants = _object_call(classdb, "class_get_integer_constant_list", [gdname, True])
    for constant_name in constants:
        constant_value = _object_call(classdb, "class_get_integer_constant", [gdname, constant_name])
        attrs[str(constant_name)] = constant_value

    from enum import Enum
    enums = _object_call(classdb, "class_get_enum_list", [gdname, True])
    for enum_name in enums:
        enum_items_cooked = {}
        enum_items = _object_call(classdb, "class_get_enum_constants", [gdname, enum_name])
        for enum_item_name in enum_items:
            enum_item_value = _object_call(classdb, "class_get_integer_constant", [gdname, enum_item_name])
            enum_items_cooked[str(enum_item_name)] = enum_item_value
        attrs[str(enum_name)] = Enum(str(enum_name), enum_items_cooked)

    cdef object klass = type(name, bases, attrs)

    _loaded_classes[name] = klass
    return klass


cdef object _object_call(gd_object_t obj, str meth, list args):
    cdef object pyret
    cdef gd_variant_t ret
    cdef gdextension_interface.GDExtensionCallError call_error

    cdef StringName gdname_object = StringName("Object")
    cdef StringName gdname_call = StringName("call")
    cdef gdextension_interface.GDExtensionMethodBindPtr Object_call = gdptrs.gdptr_classdb_get_method_bind(&gdname_object._gd_data, &gdname_call._gd_data, {{ api.get_class_meth_hash("Object", "call") }})

    cdef gdextension_interface.GDExtensionInt args_with_meth_len = len(args) + 1
    if args_with_meth_len > 9:
        # TODO: handle this
        gdptrs.gdptr_print_error("more than 8 params is not supported !", "_object_call", "", 0, False)
        return None
    cdef gd_variant_t[9] variant_args
    cdef (gd_variant_t*)[9] variant_args_ptrs
    for i in range(args_with_meth_len):
        variant_args_ptrs[i] = &variant_args[i]

    # TODO: provide a helper for string name from Python str creation
    cdef gd_string_name_t meth_gdstrname = gdapi.gd_string_name_from_unchecked_pystr(meth)
    variant_args[0] = gdapi.gd_string_name_into_variant(&meth_gdstrname)
    gdapi.gd_string_name_del(&meth_gdstrname)
    # TODO: rename !
    # Into conversion steals the owneship, so no need to delete meth_gdstrname

    for i, arg in enumerate(args, 1):
        variant_args[i] = ensure_is_gdany_and_borrow_ref(arg)

    gdptrs.gdptr_object_method_bind_call(
        Object_call,
        obj,
        # Cast is required given autopxd2 incorrectly removes the const attributes
        # when converting gdextension_interface.c to .pxd
        <const void * const*>&variant_args_ptrs,
        args_with_meth_len,
        &ret,
        &call_error,
    )
    for i in range(args_with_meth_len):
        gdapi.gd_variant_del(&variant_args[i])
    # gdapi.gd_variant_del(&variant_args[0])  # Only param we created without stealing ownership
    if call_error.error == gdextension_interface.GDEXTENSION_CALL_OK:
        # No need to destroy ret given the conversion has stolen ownership on data !
        return gd_variant_steal_into_pyobj(&ret)

    # TODO: improve ret error raised exception type ?
    elif call_error.error == gdextension_interface.GDEXTENSION_CALL_ERROR_INVALID_METHOD:
        raise RuntimeError(f"Error in Godot object method call: invalid method")

    elif call_error.error == gdextension_interface.GDEXTENSION_CALL_ERROR_INVALID_ARGUMENT:
        raise RuntimeError(f"Error in Godot object method call: invalid argument")

    elif (
        call_error.error == gdextension_interface.GDEXTENSION_CALL_ERROR_TOO_MANY_ARGUMENTS  or
        call_error.error == gdextension_interface.GDEXTENSION_CALL_ERROR_TOO_FEW_ARGUMENTS
    ):
        raise RuntimeError(f"Error in Godot object method call: expected {call_error.argument} arguments, got {call_error.expected}")

    elif call_error.error == gdextension_interface.GDEXTENSION_CALL_ERROR_INSTANCE_IS_NULL:
        raise RuntimeError(f"Error in Godot object method call: instance is null")

    else:
        raise RuntimeError(f"Unknown error in Godot object method call: Godot error code {call_error.error}")
