cimport cython

from .hazmat.gdapi cimport pythonscript_gdnative_interface
from .hazmat.gdnative_interface cimport GDNativeObjectPtr


cdef inline gdobject_free(GDObject obj):
    pythonscript_gdnative_interface.object_destroy(obj._gd_ptr)
{% for klass in api.classes %}


{# Cannot put this from_ptr as static method given cdef inline requires a final #}
{# method (i.e. it cannot be overwritten by child class) #}
cdef inline {{ klass.cy_type | lower }}_from_ptr(GDNativeObjectPtr ptr):
    # Call to __new__ bypasses __init__ constructor
    cdef {{ klass.cy_type }} wrapper = {{ klass.cy_type }}.__new__({{ klass.cy_type }})
    wrapper._gd_ptr = ptr
{%   if klass.is_refcounted %}
    # Note we steal the reference from the caller given we
    # don't call `Reference.reference` here
{%   endif %}
    return wrapper


cdef class {{ klass.cy_type }}({{ klass.inherits.cy_type if klass.inherits is not none else "" }}):
{%   if klass.inherits is none %}
    cdef GDNativeObjectPtr _gd_ptr

    {# @staticmethod
    cdef inline GDObject cast_from_variant(const godot_variant *p_gdvar)

    @staticmethod
    cdef inline GDObject cast_from_ptr(GDNativeObjectPtr *ptr):
        self._gd_ptr = ptr #}
{%   else %}
    pass
{%   endif %}
{% endfor %}


cdef object _load_class(str name)
cdef object _object_call(GDNativeObjectPtr obj, str meth, args)
