from warnings import warn

from .hazmat.gdnative_interface cimport *
from .builtins cimport *
from .classes cimport GDObject


cdef bint gd_variant_supports_py_type(object pytype)
cdef object gd_to_py_type(GDNativeVariantType gdtype)
cdef GDNativeVariantType py_to_gd_type(object pytype)
cdef object gd_variant_to_pyobj(const gd_variant_t *p_gdvar)
cdef bint gd_variant_from_pyobj(object pyobj, gd_variant_t *p_gdvar)
