[submodule "pythonscript/cpython"]
	path = pythonscript/cpython
	url = https://github.com/python/cpython.git
[submodule "pythonscript/pybind11"]
	path = pythonscript/pybind11
	url = https://github.com/pybind/pybind11.git
