[submodule "pythonscript/micropython/micropython"]
	path = pythonscript/micropython/micropython
	url = git@github.com:micropython/micropython.git
[submodule "pythonscript/micropython-wrap"]
	path = pythonscript/micropython-wrap
	url = git@github.com:stinos/micropython-wrap.git
