# Python virtualenv
/venv*
__pycache__
*.pyc

# Godot import folders
.import
.cache

# Godot runtime logs
logs

# Scons build artefact
.sconsign.dblite

# scons stuff
/custom.py

# Build directory
/build/

# Lazy generated symlinks on build
/examples/*/pythonscript
/tests/*/pythonscript
