# Python stuff
/venv*
__pycache__
*.pyc
.mypy_cache

# IDE stuff
.vs
.vscode
.idea

# mac os thumbs files
.DS_Store

# Build directory
/build/

# Godot import stuff
.godot/imported/
.godot/editor/
.godot/shader_cache/
.godot/uid_cache.bin
