image: Visual Studio 2017

environment:
  VS: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
  MSBUILD: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe
  CPP: clang -E
  matrix:
    - TARGET_PLATFORM: windows-64
      ARCH: amd64
      TARGET_BACKEND: cpython
      PYTHON: C:\Python37-x64
    - TARGET_PLATFORM: windows-32
      ARCH: amd64_x86
      TARGET_BACKEND: cpython
      PYTHON: C:\Python37
    # Pypy doesn't support windows 64bits
    # - TARGET_PLATFORM: windows-64
    #   ARCH: amd64
    #   TARGET_BACKEND: pypy
    #   PYTHON: C:\Python37-x64
    - TARGET_PLATFORM: windows-32
      ARCH: amd64_x86
      TARGET_BACKEND: pypy
      PYTHON: C:\Python37

matrix:
  allow_failures:
    # TODO: ask Armin why pypy includes are not provided within the release...
    - env: TARGET_PLATFORM=windows-32 ARCH=amd64_x86 TARGET_BACKEND=pypy PYTHON=C:\Python37

install:
  - set "PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  # - set "PATH=C:\\mingw-w64\\x86_64-6.3.0-posix-seh-rt_v5-rev1\\mingw64\\bin;%PATH%"
  - pip install setuptools
  - pip install wheel
  - pip install scons
  - if defined VS call "%VS%" %ARCH%  # if defined - so we can also use mingw
  - set "MSBUILD_PATH=%MSBUILD%"

before_build:
  - git rev-parse HEAD
  - python --version
  - scons --version
  - clang --version
  - cl.exe

build_script:
  # Un-comment if you're in deep troubles...
  # - set SCONS_MSCOMMON_DEBUG=-
  - scons platform=%TARGET_PLATFORM% backend=%TARGET_BACKEND% PYTHON=python
      gdnative_parse_cpp="%CPP%" release_suffix=%APPVEYOR_REPO_TAG_NAME% release

after_build:
  - ls -l build
  - ls -l build/windows-*
  - du -sh build/
  - ls -l godot-python-*.zip
#   - scons platform=%TARGET_PLATFORM% backend=%TARGET_BACKEND% PYTHON=python
#       gdnative_parse_cpp="%CPP%" release_suffix=%APPVEYOR_REPO_TAG_NAME% test

# on_failure:
#   - 7z -tzip a CPythonBuild.zip platforms\windows-64\cpython
#   - appveyor PushArtifact CPythonBuild.zip
#   - 7z -tzip a GodotPythonBuild.zip build
#   - appveyor PushArtifact GodotPythonBuild.zip

artifacts:
  - path: godot-python-*.zip
    name: GodotPythonRelease

deploy:
  provider: GitHub
  auth_token:
    secure: l4e/x4qkjGlFQtgm2QDM6ix8T7Ry4DtSIRjRBHnwwPuiyCFJ6Z1y7JRh9fF2eFIo
  artifact: GodotPythonRelease
  on:
    appveyor_repo_tag: true
