{% from 'builtins_pxd/constructor.pxd.j2' import render_constructors with context %}
{% from 'builtins_pxd/method.pxd.j2' import render_method with context %}
{% from 'builtins_pxd/member.pxd.j2' import render_member with context %}


{% macro render_class(builtin, m) %}
@cython.freelist(8)
@cython.final
cdef class {{ builtin.cy_type }}:
    cdef {{ builtin.c_type }} _gd_data

    {{ render_constructors(builtin) | indent }}

    @staticmethod
    cdef inline {{ builtin.py_type }} new():
        # Call to __new__ bypasses __init__ constructor
        cdef {{ builtin.cy_type }} ret = {{ builtin.cy_type }}.__new__({{ builtin.cy_type }})
        ret._gd_data = {{ builtin.get_constructor_from().c_name }}()
        return ret
{% if builtin.original_name == "String" %}
    cdef inline object to_pystr(self):
        return gd_string_to_pystr(&self._gd_data)
{% endif %}
{% for m in builtin.members %}
    {{ render_member(builtin, m) | indent }}
{% endfor %}
{% for m in builtin.methods %}
    {{ render_method(builtin, m) | indent }}
{% endfor %}
{% endmacro %}
