{% from 'builtins_pxd/method.pxd.j2' import render_method, render_method_signature with context %}
{% from 'builtins_pxd/member.pxd.j2' import
    render_member,
    render_member_getter_signature,
    render_member_setter_signature
with context %}

{% macro render_class_resume(spec) %}
# cdef class {{ spec.name }}:
{% for m in spec.members %}
#    {{ render_member_getter_signature(spec, m) }}
#    {{ render_member_setter_signature(spec, m) }}
{% endfor %}
{% for m in spec.methods %}
#    {{ render_method_signature(spec, m) }}
{% endfor %}
{% endmacro %}


{% macro render_class(spec, m) %}
@cython.freelist(8)
@cython.final
cdef class {{ spec.name }}:
    cdef {{ spec.c_struct_name }} _gd_data

    @staticmethod
    cdef inline {{ spec.name }} new():
        # Call to __new__ bypasses __init__ constructor
        cdef {{ spec.name }} ret = {{ spec.name }}.__new__({{ spec.name }})
        __{{ spec.name }}_constructor_0(&ret._gd_data, NULL)
        return ret
{% if spec.name == "GDString" %}
    cdef inline gd_string_t to_pystr(self):
        return gdstring_to_pystr(&self._gd_data)
{% endif %}
{% for m in spec.members %}
    {{ render_member(spec, m) | indent }}
{% endfor %}
{% for m in spec.methods %}
    {{ render_method(spec, m) | indent }}
{% endfor %}
{% endmacro %}
