{% from 'builtins_pxd/constructor.pxd.j2' import render_constructors with context %}
{% from 'builtins_pxd/method.pxd.j2' import render_method with context %}
{% from 'builtins_pxd/member.pxd.j2' import render_member, render_getsetitem_keyed, render_getsetitem_indexed with context %}


{% macro render_class(builtin) %}
@cython.final
cdef class {{ builtin.cy_type }}:
    cdef {{builtin.c_type }} _gd_data

    {{ render_constructors(builtin) | indent }}

{% if builtin.original_name == "String" %}
    cdef inline str to_pystr(self):
        return gdapi.gd_string_to_pystr(&self._gd_data)
{% elif builtin.original_name == "StringName" %}
    cdef inline str to_pystr(self):
        return gdapi.gd_string_name_to_pystr(&self._gd_data)
{% elif builtin.original_name == "NodePath" %}
    cdef inline str to_pystr(self):
        cdef gd_string_t gdstr = gdapi.gd_string_new_from_node_path(&self._gd_data)
        cdef object pystr = gdapi.gd_string_to_pystr(&gdstr)
        gdapi.gd_string_del(&gdstr)
        return pystr
{% endif %}
{% for m in builtin.members %}
    {{ render_member(builtin, m) | indent }}
{% endfor %}
{% for m in builtin.methods %}
    {{ render_method(builtin, m) | indent }}
{% endfor %}
{% if builtin.indexing_return_type and builtin.is_keyed %}
    {{ render_getsetitem_keyed(builtin ) | indent }}
{% endif %}
{% if builtin.indexing_return_type and not builtin.is_keyed %}
    {{ render_getsetitem_indexed(builtin ) | indent }}
{% endif %}
{% endmacro %}
