{% macro render_constructors(builtin) -%}
# In Godot you would do `var v2 = {{ builtin.cy_type }}(v1)`, but it's more Pythonic
# to provide a clone method and do `v2 = v1.clone()` (and it simplifies
# constructor implementation !)
cdef inline {{ builtin.cy_type }} clone(self):
    cdef {{ builtin.cy_type }} obj = {{ builtin.cy_type }}.__new__({{ builtin.cy_type }})
{% if builtin.is_transparent_builtin %}
    obj._gd_data = self._gd_data
{% else %}
{# Opaque builtin, must retrieve and use the clone constructor function #}
    obj._gd_data = gdapi.gd_{{ builtin.get_constructor_from(builtin.original_name).c_name }}(&self._gd_data)
{% endif %}
    return obj

@staticmethod
cdef inline {{ builtin.py_type }} new():
    # Call to __new__ bypasses __init__ constructor
    cdef {{ builtin.cy_type }} ret = {{ builtin.cy_type }}.__new__({{ builtin.cy_type }})
    ret._gd_data = gdapi.gd_{{ builtin.get_constructor_from().c_name }}()
    return ret

@staticmethod
cdef inline {{ builtin.py_type }} from_gd_data({{ builtin.c_type }} gd_data):
    cdef {{ builtin.cy_type }} ret = {{ builtin.cy_type }}.__new__({{ builtin.cy_type }})
    ret._gd_data = gd_data
    return ret

cdef inline {{ builtin.c_type }} into_gd_data(self):
    cdef {{ builtin.c_type }} gd_data = self._gd_data
{# Transparent builtins has no destructor, so we can leave the data as-is in `self` #}
{% if not builtin.is_transparent_builtin %}
    # Must overwrite the data with zero to avoid `self`'s destructor from destroying
    # the Godot data we have move out of it (all builtins are valid when zero-initialized
    # so `self` destructor can ask Godot to destroy them).
{%   for i in range(builtin.size) %}
    self._gd_data._gd_opaque[{{ i }}] = 0
{%   endfor %}
{% endif %}
    return gd_data
{% endmacro %}
