{% macro render_method_signature(m) -%}
{{ "void" if m.return_type.is_nil else m.return_type.cy_type }} {{ m.name }}(self
{%- for arg in m.arguments -%}
, {{ arg.type.cy_type }} {{ arg.name }}
{%- endfor -%})
{%- endmacro %}


{% macro render_method(builtin, m) %}
cpdef inline {{ render_method_signature(m) }}:
{%   if m.contains_unsuported_types %}
    raise NotImplementedError  # TODO
{%   else %}
{%     if m.return_type.is_scalar %}
    cdef {{ m.return_type.cy_type }} ret = {{ m.c_name }}(
{%     elif m.return_type.is_builtin %}
    # Call to __new__ bypasses __init__ constructor
    cdef {{ m.return_type.cy_type }} ret = {{ m.return_type.cy_type }}.__new__({{ m.return_type.cy_type }})
    ret._gd_data = {{ m.c_name }}(
{%     elif m.return_type.is_object or m.return_type.is_variant %}
    cdef {{  m.return_type.c_type }} ret = {{ m.c_name }}(
{%     else %}
    {{ m.c_name }}(
{%     endif %}
        &self._gd_data,
{%       for arg in m.arguments %}
{%         if arg.type.is_scalar %}
        {{ arg.name }},
{%         elif arg.type.is_builtin %}
        &{{ arg.name }}._gd_data,
{%         elif arg.type.is_object %}
        &{{ arg.name }}._gd_ptr,
{%         else %}
    <crash !!!!>  # {{ arg.type }} Unsupported type, crash the compilation !
{%         endif %}
{%       endfor %}
    )
{%     if not m.return_type.is_nil %}
{%       if m.return_type.is_object %}
    return GDObject.cast_from_variant(ret)
{%       elif m.return_type.is_variant %}
    try:
        return gdvariant_to_pyobject(&ret)
    finally:
        gd_variant_del(&ret)
{%       else %}
    return ret
{%       endif %}
{%     endif %}
{%   endif %}
{% endmacro %}
