{% macro render_method_signature(m) -%}
{{ "void" if m.return_type.is_nil else m.return_type.cy_type }} {{ m.name }}(self
{%- for arg in m.arguments -%}
, {{ arg.type.cy_type }} {{ arg.name }}
{%- if arg.default_value -%}
 = {{ arg.default_value.cy_value or "None" }}
{%- endif -%}
{%- endfor -%})
{%- endmacro %}


{% macro render_method(builtin, m) %}
cpdef inline {{ render_method_signature(m) }}:
{%   if m.contains_unsuported_types %}
    raise NotImplementedError  # TODO
{%   else %}
{%     for arg in m.arguments %}
{%       if arg.type.is_variant %}
    cdef gd_variant_t __arg{{ loop.index0 }}
    if not gd_variant_steal_from_pyobj({{ arg.name }}, &__arg{{ loop.index0 }}):
        raise TypeError(f"Type { type({{ arg.name }}) } cannot be converted to Godot Variant")
{% endif %}
{% endfor %}
{%     if m.return_type.is_scalar %}
    cdef {{ m.return_type.cy_type }} ret = gd_{{ builtin.snake_name }}_meth_{{ m.name }}(
{%     elif m.return_type.is_builtin %}
    # Call to __new__ bypasses __init__ constructor
    cdef {{ m.return_type.cy_type }} ret = {{ m.return_type.cy_type }}.__new__({{ m.return_type.cy_type }})
    ret._gd_data = gd_{{ builtin.snake_name }}_meth_{{ m.name }}(
{%     elif m.return_type.is_object or m.return_type.is_variant %}
    cdef {{  m.return_type.c_type }} ret = gd_{{ builtin.snake_name }}_meth_{{ m.name }}(
{%     else %}
    gd_{{ builtin.snake_name }}_meth_{{ m.name }}(
{%     endif %}
        &self._gd_data,
{%       for arg in m.arguments %}
{%         if arg.type.is_scalar %}
        {{ arg.name }},
{%         elif arg.type.is_builtin %}
        &{{ arg.name }}._gd_data,
{%         elif arg.type.is_object %}
        &{{ arg.name }}._gd_ptr,
{%         elif arg.type.is_variant %}
        &__arg{{ loop.index0 }},
{%         else %}
    <crash !!!!>  # {{ arg.type }} Unsupported type, crash the compilation !
{%         endif %}
{%       endfor %}
    )
{%     if not m.return_type.is_nil %}
{%       if m.return_type.is_object %}
    return GDObject.cast_from_variant(ret)
{%       elif m.return_type.is_variant %}
    # Note the "steal" means we don't need a final `gd_variant_del(&ret)`
    return gd_variant_steal_into_pyobj(&ret)
{%       else %}
    return ret
{%       endif %}
{%     endif %}
{%   endif %}
{% endmacro %}
