{% macro render_constructors(builtin) -%}

{# Custom constructors first #}
{% if builtin.original_name == "String" %}

def __cinit__(self, s=_SENTINEL):
    cdef gdextension_interface.GDExtensionTypePtr[1] args
    if s is _SENTINEL:
        self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
    elif isinstance(s, str):
        self._gd_data = gdapi.gd_string_from_unchecked_pystr(s)
    else:
        try:
{%   set constructor = builtin.get_constructor_from("String") %}
            self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<GDString?>s)._gd_data)
        except TypeError:
            try:
{%   set constructor = builtin.get_constructor_from("StringName") %}
                self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<StringName?>s)._gd_data)
            except TypeError:
                try:
{%   set constructor = builtin.get_constructor_from("NodePath") %}
                    self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<NodePath?>s)._gd_data)
                except TypeError:
                    raise TypeError(f"Invalid value `{s}`, expected str/String/StringName/NodePath")

{% elif builtin.original_name == "StringName" %}

def __cinit__(self, s=_SENTINEL):
    cdef gdextension_interface.GDExtensionTypePtr[1] args
    cdef gd_string_t gds
    if s is _SENTINEL:
        self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
    elif isinstance(s, str):
        self._gd_data = gdapi.gd_string_name_from_unchecked_pystr(s)
    else:
        try:
{%   set constructor = builtin.get_constructor_from("String") %}
            self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<GDString?>s)._gd_data)
        except TypeError:
            try:
{%   set constructor = builtin.get_constructor_from("StringName") %}
                self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<StringName?>s)._gd_data)
            except TypeError:
                raise TypeError(f"Invalid value `{s}`, expected str/String/StringName")

{% elif builtin.original_name == "NodePath" %}

def __cinit__(self, s=_SENTINEL):
    cdef gdextension_interface.GDExtensionTypePtr[1] args
    cdef gd_string_t gds
    if s is _SENTINEL:
        self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
    elif isinstance(s, str):
        gds = gdapi.gd_string_from_unchecked_pystr(s)
        try:
{%   set constructor = builtin.get_constructor_from("String") %}
            self._gd_data = gdapi.gd_{{ constructor.c_name }}(&gds)
            return
        finally:
            gdapi.gd_string_del(&gds)
    else:
        try:
{%   set constructor = builtin.get_constructor_from("String") %}
            self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<GDString?>s)._gd_data)
        except TypeError:
{%   set constructor = builtin.get_constructor_from("NodePath") %}
            try:
                self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<NodePath?>s)._gd_data)
            except TypeError:
                raise TypeError(f"Invalid value `{s}`, expected str/String/NodePath")

{% elif builtin.original_name == "Dictionary" %}

def __cinit__(self, mapping=_SENTINEL):
    if mapping is _SENTINEL:
        self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
        return

    try:
{%   set constructor = builtin.get_constructor_from("Dictionary") %}
        self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<GDDictionary?>mapping)._gd_data)
        return
    except TypeError:
        pass

    # Last chance, note we must initialize `self._gd_data` even if we are
    # going to raise a `TypeError`, otherwise destructor will segfault
    self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
    try:
        if isinstance(mapping, Mapping):
            for k, v in mapping.items():
                self._setitem(k, v)
        else:
            for k, v in mapping:
                self._setitem(k, v)
    except (TypeError, ValueError) as exc:
        raise TypeError(f"Invalid value `{mapping}`, expected Dictionary/collections.abc.Mapping/Sequence[Tuple[IntoGDAny, IntoGDAny]]")

{% elif builtin.original_name == "Array" %}

def __cinit__(self, iterable=_SENTINEL):
    if iterable is _SENTINEL:
        self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
        return

{%   for packedtype in api.packed_array_types %}
{%     if not api.builtins_sample or packedtype.original_name == "PackedStringArray" %}
{%       set constructor = builtin.get_constructor_from(packedtype.original_name) %}
    try:
        self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<{{ packedtype.cy_type }}?>iterable)._gd_data)
        return
    except TypeError:
        pass
{%     endif %}
{%   endfor %}

    try:
{%   set constructor = builtin.get_constructor_from("Array") %}
        self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<GDArray?>iterable)._gd_data)
    except TypeError:
        pass

    # Last chance, note we must initialize `self._gd_data` even if we are
    # going to raise a `TypeError`, otherwise destructor will segfault
    self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
    if isinstance(iterable, Iterable):
        # Not all iterable have support for `len()` (e.g. `iter([])`)
        if isinstance(iterable, Sized):
            gdapi.gd_{{ builtin.snake_name }}_meth_resize(&self._gd_data, len(iterable))
            for i, x in enumerate(iterable):
                self.set(i, x)
        else:
            for x in iterable:
                self.append(x)
    else:
        raise TypeError(f"Invalid value `{iterable}`, expected Array/Packed*Array/collections.abc.Iterable[IntoGDAny]")

{% elif builtin.is_packed_array %}

def __cinit__(self, iterable=_SENTINEL):
    if iterable is _SENTINEL:
        self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
        return
{%   set constructor = builtin.get_constructor_from(builtin.original_name) %}
    try:
        self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<{{ builtin.cy_type }}?>iterable)._gd_data)
        return
    except TypeError:
        pass

    try:
{%   set constructor = builtin.get_constructor_from("Array") %}
        self._gd_data = gdapi.gd_{{ constructor.c_name }}(&(<GDArray?>iterable)._gd_data)
        return
    except TypeError:
        pass

    # Last chance, note we must initialize `self._gd_data` even if we are
    # going to raise a `TypeError`, otherwise destructor will segfault
    self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()
    if isinstance(iterable, Iterable):
        # Not all iterable have support for `len()` (e.g. `iter([])`)
        if isinstance(iterable, Sized):
            gdapi.gd_{{ builtin.snake_name }}_meth_resize(&self._gd_data, len(iterable))
            for i, x in enumerate(iterable):
                self.set(i, x)
        else:
            for x in iterable:
                self.append(x)
    else:
        raise TypeError(f"Invalid value `{iterable}`, expected Array/{{ builtin.cy_type }}/collections.abc.Iterable[{{ builtin.packed_array_item_type.cy_type }}]")

{% else %}
{# Default constructor #}
{%   if builtin.is_transparent_builtin %}

def __cinit__(self,
{%-    for m in builtin.c_struct_members -%}
{{ m.type.cy_type }} {{ m.name }}{{ "" if m.type.is_scalar else " not None" }}={{ "0" if m.type.is_scalar else "{}()".format(m.type.cy_type) }},
{%-    endfor -%}
):
{%     for m in builtin.c_struct_members %}
    self._gd_data.{{ m.name }} = {{ m.name }}{{ "" if m.type.is_scalar else "._gd_data" }}
{%     endfor %}

{%   else %}

{# Opaque builtin, initialize with default empty constructor #}
def __cinit__(self):
    self._gd_data = gdapi.gd_{{ builtin.snake_name }}_new()

{%   endif %}
{% endif %}

{# Clone constructor #}
# In Godot you would do `var v2 = {{ builtin.py_type }}(v1)`, but it's more Pythonic
# to provide a clone method and do `v2 = v1.clone()`
def clone(self):
    cdef {{ builtin.cy_type }} obj = {{ builtin.cy_type }}.__new__({{ builtin.cy_type }})
{% if builtin.is_transparent_builtin %}
    obj._gd_data = self._gd_data
{% else %}
{# Opaque builtin, must retrieve and use the clone constructor function #}
    obj._gd_data = gdapi.gd_{{ builtin.get_constructor_from(builtin.original_name).c_name }}(&self._gd_data)
{% endif %}
    return obj
{% endmacro %}
