{% macro render_all_conversions() %}
cdef str _ENSURE_IS_GDANY_ERR_MSG = "Invalid value `{}`, expected IntoGDAny"
cdef str _ENSURE_IS_GDSTRING_ERR_MSG = "Invalid value `{}`, expected str/GDString"
cdef str _ENSURE_IS_STRINGNAME_ERR_MSG = "Invalid value `{}`, expected str/StringName"
cdef str _ENSURE_IS_NODEPATH_ERR_MSG = "Invalid value `{}`, expected be str/NodePath"

cdef bint gd_variant_supports_py_type(object pytype):
    if issubclass(pytype, BaseGDObject):
        return True
    elif (
{% for builtin in api.builtins %}
        pytype == {{ builtin.cy_type }} or
{% endfor %}
        pytype == bool or
        pytype == int or
        pytype == float or
        pytype == type(None)
    ):
        return True
    else:
        return False


cdef object gd_to_py_type(gdextension_interface.GDExtensionVariantType gdtype):
    if gdtype == gdextension_interface.GDEXTENSION_VARIANT_TYPE_OBJECT:
        return BaseGDObject
{% for builtin in api.builtins %}
    elif gdtype == gdextension_interface.{{ builtin.variant_type_name }}:
        return {{ builtin.cy_type }}
{% endfor %}
    elif gdtype == gdextension_interface.{{ api.bool_type.variant_type_name }}:
        return bool
    elif gdtype == gdextension_interface.{{ api.int_type.variant_type_name }}:
        return int
    elif gdtype == gdextension_interface.{{ api.float_type.variant_type_name }}:
        return float
    elif gdtype == gdextension_interface.{{ api.nil_type.variant_type_name }}:
        return None
    else:
        warn(f"No Python equivalent for Godot type `{gdtype}`")
        return None


cdef gdextension_interface.GDExtensionVariantType py_to_gd_type(object pytype):
    if issubclass(pytype, BaseGDObject):
        return gdextension_interface.GDEXTENSION_VARIANT_TYPE_OBJECT
{% for builtin in api.builtins %}
    elif pytype == {{ builtin.cy_type }}:
        return gdextension_interface.{{ builtin.variant_type_name }}
{% endfor %}
    elif pytype == bool:
        return gdextension_interface.{{ api.bool_type.variant_type_name }}
    elif pytype == int:
        return gdextension_interface.{{ api.int_type.variant_type_name }}
    elif pytype == float:
        return gdextension_interface.{{ api.float_type.variant_type_name }}
    elif pytype == type(None):
        return gdextension_interface.{{ api.nil_type.variant_type_name }}
    else:
        warn(f"No Godot equivalent for Python type `{pytype}`")
        return gdextension_interface.GDEXTENSION_VARIANT_TYPE_NIL


#########################################################################
# Gdoot Variant -> PyObject
#########################################################################


# Consume the variant (i.e. the caller shouldn't call destructor on it) and
# convert in into a proper builtin (e.g. `int`, `Vector2`, `StringName` etc.).
cdef object gd_variant_steal_into_pyobj(gd_variant_t *gdvar):
    cdef object obj = gd_variant_copy_into_pyobj(gdvar)
    # TODO: Should we avoid the destructor for types that don't need it ?
    gdapi.gd_variant_del(gdvar)
    return obj


cdef object gd_variant_copy_into_pyobj(const gd_variant_t *gdvar):
    # TODO: This conversion is very common, we should optimize this dispatch...
    #       Typically we could manually extract `gdtype` (instead of calling
    #       `gdptr_variant_get_type`, so that aggresive inline is possible) and
    #       ensure the ifs are compiled as a jump using the type as offset.
    cdef gdextension_interface.GDExtensionVariantType gdtype = gdptrs.gdptr_variant_get_type(gdvar)
    cdef gd_variant_t gdvar_object_copy
    if gdtype == gdextension_interface.GDEXTENSION_VARIANT_TYPE_OBJECT:
        # TODO: This conversion relies on godot String and lookup into bindings
        # modules, wouldn't it be better to create a `ObjectFromVariant` lazy
        # class instead ?
        # Note this return `None` if the object is NULL
        gdptrs.gdptr_variant_new_copy(&gdvar_object_copy, gdvar)
        return BaseGDObject.steal_cast_from_variant(gdvar)
    # TODO: Would it be possible to directly dig into the variant for simple types ?
    elif gdtype == gdextension_interface.{{ api.bool_type.variant_type_name }}:
        return gdapi.gd_{{ api.bool_type.snake_name }}_from_variant(gdvar) == 1
    elif gdtype == gdextension_interface.{{ api.int_type.variant_type_name }}:
        return gdapi.gd_{{ api.int_type.snake_name }}_from_variant(gdvar)
    elif gdtype == gdextension_interface.{{ api.float_type.variant_type_name }}:
        return gdapi.gd_{{ api.float_type.snake_name }}_from_variant(gdvar)
{% for builtin in api.builtins %}
    elif gdtype == gdextension_interface.{{ builtin.variant_type_name }}:
        return _gd_variant_into_pyobj_{{ builtin.cy_type }}(gdvar)
{% endfor %}
    elif gdtype == gdextension_interface.GDEXTENSION_VARIANT_TYPE_NIL:
        return None
    else:
        warn(f"Unknown Godot Variant type `{gdtype}` (this should never happen !)")
        return None


{% for builtin in api.builtins if not builtin.is_nil %}
cdef inline object _gd_variant_into_pyobj_{{ builtin.cy_type }}(const gd_variant_t *gdvar):
    cdef {{ builtin.cy_type }} ret = {{ builtin.cy_type }}.__new__({{ builtin.cy_type }})
{%   if builtin.is_stack_only %}
    ret._gd_data = gdapi.gd_{{ builtin.snake_name }}_from_variant(gdvar)
{%   else %}
    ret._gd_data = gdapi.gd_{{ builtin.snake_name }}_copy_from_variant(gdvar)
{%   endif %}
    return ret
{% endfor %}


#########################################################################
# PyObject -> Godot Variant
#########################################################################


# Note we don't have a `gd_variant_steal_from_pyobj`: since the Python object
# is refcounted we cannot be sure we are the only one using it, so stealing
# its content is not a good idea.
cdef bint gd_variant_copy_from_pyobj(object pyobj, gd_variant_t *gdvar):
    # TODO: find a way to optimize this...
    cdef gd_string_t gdstr
    if pyobj is None:
        gdptrs.gdptr_variant_new_nil(gdvar)
    elif isinstance(pyobj, BaseGDObject):
        gdvar[0] = gdapi.gd_object_copy_into_variant((<BaseGDObject>pyobj)._gd_ptr)
    elif isinstance(pyobj, bool):  # TODO: try/except on the gdapi.gd_bool_to_variant is enough ?
        gdvar[0] = gdapi.gd_bool_to_variant(pyobj)
    elif isinstance(pyobj, int):
        gdvar[0] = gdapi.gd_int_to_variant(pyobj)
    elif isinstance(pyobj, float):
        gdvar[0] = gdapi.gd_float_to_variant(pyobj)
    elif isinstance(pyobj, str):
        gdstr = gdapi.gd_string_from_unchecked_pystr(pyobj)
        gdvar[0] = gdapi.gd_string_copy_into_variant(&gdstr)
        gdapi.gd_string_del(&gdstr)
{% for builtin in api.builtins if not builtin.is_scalar %}
    elif isinstance(pyobj, {{ builtin.cy_type }}):
{%   if builtin.is_stack_only %}
        gdvar[0] = gdapi.gd_{{ builtin.snake_name }}_to_variant(&(<{{ builtin.cy_type }}>pyobj)._gd_data)
{%   else %}
        gdvar[0] = gdapi.gd_{{ builtin.snake_name }}_copy_into_variant(&(<{{ builtin.cy_type }}>pyobj)._gd_data)
{%   endif %}
{% endfor %}
    else:
        return False
    return True

{% endmacro %}
