{% from 'gdapi_pyx/ptrs.pyx.j2' import render_all_ptrs with context %}
from .gdnative_interface cimport *
from ..builtins cimport *
from ..classes cimport GDObject


{% include 'gdapi_pyx/conversion.pyx.j2' %}
{{ render_all_ptrs() }}
