cimport cython
from libc.stdint cimport *

from .gdnative_interface cimport *


##############################################################################
# Builtins methods function pointers                                         #
##############################################################################


cdef GDNativeTypeFromVariantConstructorFunc gd_object_from_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_to_type_constructor(GDNATIVE_VARIANT_TYPE_OBJECT)
cdef GDNativeVariantFromTypeConstructorFunc gd_object_into_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_from_type_constructor(GDNATIVE_VARIANT_TYPE_OBJECT)

cdef GDNativeTypeFromVariantConstructorFunc gd_bool_from_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_to_type_constructor(GDNATIVE_VARIANT_TYPE_BOOL)
cdef GDNativeVariantFromTypeConstructorFunc gd_bool_into_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_from_type_constructor(GDNATIVE_VARIANT_TYPE_BOOL)

cdef GDNativeTypeFromVariantConstructorFunc gd_int_from_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_to_type_constructor(GDNATIVE_VARIANT_TYPE_INT)
cdef GDNativeVariantFromTypeConstructorFunc gd_int_into_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_from_type_constructor(GDNATIVE_VARIANT_TYPE_INT)

cdef GDNativeTypeFromVariantConstructorFunc gd_float_from_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_to_type_constructor(GDNATIVE_VARIANT_TYPE_FLOAT)
cdef GDNativeVariantFromTypeConstructorFunc gd_float_into_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_from_type_constructor(GDNATIVE_VARIANT_TYPE_FLOAT)
{% for builtin in api.builtins %}


# {{ builtin.original_name }}
{%   for c in builtin.constructors %}
cdef GDNativePtrConstructor {{ builtin.c_name_prefix }}_constructor_{{ c.index }}_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_constructor({{ builtin.variant_type_name }}, {{ c.index }})
{%   endfor %}
{%   if not builtin.is_stack_only %}
cdef GDNativePtrDestructor {{ builtin.c_name_prefix }}_destructor_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_destructor({{ builtin.variant_type_name }})
{%   endif %}
{%   for m in builtin.methods %}
cdef GDNativePtrBuiltInMethod {{ builtin.c_name_prefix }}_meth_{{ m.name }}_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_builtin_method({{ builtin.variant_type_name }}, "{{ m.original_name }}", {{ m.hash }})
{%   endfor %}
{%   if builtin.indexing_return_type is not none and builtin.is_keyed %}
cdef GDNativePtrKeyedSetter {{ builtin.c_name_prefix }}_keyed_setter_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_keyed_setter({{ builtin.variant_type_name }})
cdef GDNativePtrKeyedGetter {{ builtin.c_name_prefix }}_keyed_getter_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_keyed_getter({{ builtin.variant_type_name }})
{%   endif %}
{%   if builtin.indexing_return_type is not none and not builtin.is_keyed %}
cdef GDNativePtrIndexedSetter {{ builtin.c_name_prefix }}_indexed_setter_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_indexed_setter({{ builtin.variant_type_name }})
cdef GDNativePtrIndexedGetter {{ builtin.c_name_prefix }}_indexed_getter_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_indexed_getter({{ builtin.variant_type_name }})
{%   endif %}
{%   for o in builtin.operators %}
cdef GDNativePtrOperatorEvaluator {{ builtin.c_name_prefix }}_op_{{ o.name }}_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_operator_evaluator({{ o.variant_operator_name }}, {{ builtin.variant_type_name }}, {{ o.right_type.variant_type_name }})
{%   endfor %}
{%   for m in builtin.members %}
{%     if not m.is_in_struct %}
cdef GDNativePtrSetter {{ builtin.c_name_prefix }}_get_{{ m.name }}_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_setter({{ builtin.variant_type_name }}, "{{ m.name }}")
cdef GDNativePtrGetter {{ builtin.c_name_prefix }}_set_{{ m.name }}_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_getter({{ builtin.variant_type_name }}, "{{ m.name }}")
{%     endif %}
{%   endfor %}
cdef GDNativeTypeFromVariantConstructorFunc {{ builtin.c_name_prefix }}_from_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_to_type_constructor({{ builtin.variant_type_name }})
cdef GDNativeVariantFromTypeConstructorFunc {{ builtin.c_name_prefix }}_into_variant_ptr = \
    pythonscript_gdnative_interface.get_variant_from_type_constructor({{ builtin.variant_type_name }})
{% endfor %}


##############################################################################
# Utility functions function pointers                                        #
##############################################################################


{%   for utility in api.utility_functions %}
# {{ utility.original_name }}
cdef GDNativePtrUtilityFunction gd_utility_{{ utility.original_name }}_ptr = \
    pythonscript_gdnative_interface.variant_get_ptr_utility_function("{{ utility.original_name }}", {{ utility.hash }})
{%   endfor %}
