# Here are all the function pointers on Godot api for builtins constructor/methods/operators
# and utility functions, this is rather low level stuff so you should use the nice wrappers
# defined in gdapi.pxd.
cimport cython
from libc.stdint cimport *

from .gdextension_interface cimport *


cdef extern from * nogil:
    # Global variables defined in `pythonscript_gdextension_ptrs.c`
    # Given `libpythonscript.so` is responsible for initializing the Python
    # interpreter, we are guanteed `pythonscript_gdapi` symbol is always
    # resolved and set to a non-null value \o/
    """
    #include <godot/gdextension_interface.h>
    #ifdef _WIN32
    # define DLL_IMPORT __declspec(dllimport)
    #else
    # define DLL_IMPORT
    #endif
    DLL_IMPORT extern GDExtensionInterfaceGetProcAddress pythonscript_gdptr_get_proc_address;
    DLL_IMPORT extern GDExtensionClassLibraryPtr pythonscript_gdptr_library;
    """
    const GDExtensionInterfaceGetProcAddress gdptr_get_proc_address "pythonscript_gdptr_get_proc_address"
    const GDExtensionClassLibraryPtr gdptr_library "pythonscript_gdptr_library"


cdef extern from * nogil:
    """
    #include <godot/gdextension_interface.h>
    #ifdef _WIN32
    # define DLL_IMPORT __declspec(dllimport)
    #else
    # define DLL_IMPORT
    #endif
    DLL_IMPORT extern void (*pythonscript_gdptr_get_godot_version)(GDExtensionGodotVersion *r_godot_version);
    DLL_IMPORT extern void *(*pythonscript_gdptr_mem_alloc)(size_t p_bytes);
    DLL_IMPORT extern void *(*pythonscript_gdptr_mem_realloc)(void *p_ptr, size_t p_bytes);
    DLL_IMPORT extern void (*pythonscript_gdptr_mem_free)(void *p_ptr);
    DLL_IMPORT extern void (*pythonscript_gdptr_print_error)(const char *p_description, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify);
    DLL_IMPORT extern void (*pythonscript_gdptr_print_error_with_message)(const char *p_description, const char *p_message, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify);
    DLL_IMPORT extern void (*pythonscript_gdptr_print_warning)(const char *p_description, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify);
    DLL_IMPORT extern void (*pythonscript_gdptr_print_warning_with_message)(const char *p_description, const char *p_message, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify);
    DLL_IMPORT extern void (*pythonscript_gdptr_print_script_error)(const char *p_description, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify);
    DLL_IMPORT extern void (*pythonscript_gdptr_print_script_error_with_message)(const char *p_description, const char *p_message, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify);
    DLL_IMPORT extern uint64_t (*pythonscript_gdptr_get_native_struct_size)(GDExtensionConstStringNamePtr p_name);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_new_copy)(GDExtensionUninitializedVariantPtr r_dest, GDExtensionConstVariantPtr p_src);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_new_nil)(GDExtensionUninitializedVariantPtr r_dest);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_destroy)(GDExtensionVariantPtr p_self);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_call)(GDExtensionVariantPtr p_self, GDExtensionConstStringNamePtr p_method, const GDExtensionConstVariantPtr *p_args, GDExtensionInt p_argument_count, GDExtensionUninitializedVariantPtr r_return, GDExtensionCallError *r_error);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_call_static)(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_method, const GDExtensionConstVariantPtr *p_args, GDExtensionInt p_argument_count, GDExtensionUninitializedVariantPtr r_return, GDExtensionCallError *r_error);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_evaluate)(GDExtensionVariantOperator p_op, GDExtensionConstVariantPtr p_a, GDExtensionConstVariantPtr p_b, GDExtensionUninitializedVariantPtr r_return, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_set)(GDExtensionVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_set_named)(GDExtensionVariantPtr p_self, GDExtensionConstStringNamePtr p_key, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_set_keyed)(GDExtensionVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_set_indexed)(GDExtensionVariantPtr p_self, GDExtensionInt p_index, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid, GDExtensionBool *r_oob);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_get)(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_get_named)(GDExtensionConstVariantPtr p_self, GDExtensionConstStringNamePtr p_key, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_get_keyed)(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_get_indexed)(GDExtensionConstVariantPtr p_self, GDExtensionInt p_index, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid, GDExtensionBool *r_oob);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_iter_init)(GDExtensionConstVariantPtr p_self, GDExtensionUninitializedVariantPtr r_iter, GDExtensionBool *r_valid);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_iter_next)(GDExtensionConstVariantPtr p_self, GDExtensionVariantPtr r_iter, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_iter_get)(GDExtensionConstVariantPtr p_self, GDExtensionVariantPtr r_iter, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_variant_hash)(GDExtensionConstVariantPtr p_self);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_variant_recursive_hash)(GDExtensionConstVariantPtr p_self, GDExtensionInt p_recursion_count);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_hash_compare)(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_other);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_booleanize)(GDExtensionConstVariantPtr p_self);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_duplicate)(GDExtensionConstVariantPtr p_self, GDExtensionVariantPtr r_ret, GDExtensionBool p_deep);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_stringify)(GDExtensionConstVariantPtr p_self, GDExtensionStringPtr r_ret);
    DLL_IMPORT extern GDExtensionVariantType (*pythonscript_gdptr_variant_get_type)(GDExtensionConstVariantPtr p_self);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_has_method)(GDExtensionConstVariantPtr p_self, GDExtensionConstStringNamePtr p_method);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_has_member)(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_member);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_has_key)(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionBool *r_valid);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_get_type_name)(GDExtensionVariantType p_type, GDExtensionUninitializedStringPtr r_name);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_can_convert)(GDExtensionVariantType p_from, GDExtensionVariantType p_to);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_variant_can_convert_strict)(GDExtensionVariantType p_from, GDExtensionVariantType p_to);
    DLL_IMPORT extern GDExtensionVariantFromTypeConstructorFunc (*pythonscript_gdptr_get_variant_from_type_constructor)(GDExtensionVariantType p_type);
    DLL_IMPORT extern GDExtensionTypeFromVariantConstructorFunc (*pythonscript_gdptr_get_variant_to_type_constructor)(GDExtensionVariantType p_type);
    DLL_IMPORT extern GDExtensionPtrOperatorEvaluator (*pythonscript_gdptr_variant_get_ptr_operator_evaluator)(GDExtensionVariantOperator p_operator, GDExtensionVariantType p_type_a, GDExtensionVariantType p_type_b);
    DLL_IMPORT extern GDExtensionPtrBuiltInMethod (*pythonscript_gdptr_variant_get_ptr_builtin_method)(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_method, GDExtensionInt p_hash);
    DLL_IMPORT extern GDExtensionPtrConstructor (*pythonscript_gdptr_variant_get_ptr_constructor)(GDExtensionVariantType p_type, int32_t p_constructor);
    DLL_IMPORT extern GDExtensionPtrDestructor (*pythonscript_gdptr_variant_get_ptr_destructor)(GDExtensionVariantType p_type);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_construct)(GDExtensionVariantType p_type, GDExtensionUninitializedVariantPtr r_base, const GDExtensionConstVariantPtr *p_args, int32_t p_argument_count, GDExtensionCallError *r_error);
    DLL_IMPORT extern GDExtensionPtrSetter (*pythonscript_gdptr_variant_get_ptr_setter)(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_member);
    DLL_IMPORT extern GDExtensionPtrGetter (*pythonscript_gdptr_variant_get_ptr_getter)(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_member);
    DLL_IMPORT extern GDExtensionPtrIndexedSetter (*pythonscript_gdptr_variant_get_ptr_indexed_setter)(GDExtensionVariantType p_type);
    DLL_IMPORT extern GDExtensionPtrIndexedGetter (*pythonscript_gdptr_variant_get_ptr_indexed_getter)(GDExtensionVariantType p_type);
    DLL_IMPORT extern GDExtensionPtrKeyedSetter (*pythonscript_gdptr_variant_get_ptr_keyed_setter)(GDExtensionVariantType p_type);
    DLL_IMPORT extern GDExtensionPtrKeyedGetter (*pythonscript_gdptr_variant_get_ptr_keyed_getter)(GDExtensionVariantType p_type);
    DLL_IMPORT extern GDExtensionPtrKeyedChecker (*pythonscript_gdptr_variant_get_ptr_keyed_checker)(GDExtensionVariantType p_type);
    DLL_IMPORT extern void (*pythonscript_gdptr_variant_get_constant_value)(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_constant, GDExtensionUninitializedVariantPtr r_ret);
    DLL_IMPORT extern GDExtensionPtrUtilityFunction (*pythonscript_gdptr_variant_get_ptr_utility_function)(GDExtensionConstStringNamePtr p_function, GDExtensionInt p_hash);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_latin1_chars)(GDExtensionUninitializedStringPtr r_dest, const char *p_contents);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_utf8_chars)(GDExtensionUninitializedStringPtr r_dest, const char *p_contents);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_utf16_chars)(GDExtensionUninitializedStringPtr r_dest, const char16_t *p_contents);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_utf32_chars)(GDExtensionUninitializedStringPtr r_dest, const char32_t *p_contents);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_wide_chars)(GDExtensionUninitializedStringPtr r_dest, const wchar_t *p_contents);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_latin1_chars_and_len)(GDExtensionUninitializedStringPtr r_dest, const char *p_contents, GDExtensionInt p_size);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_utf8_chars_and_len)(GDExtensionUninitializedStringPtr r_dest, const char *p_contents, GDExtensionInt p_size);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_utf16_chars_and_len)(GDExtensionUninitializedStringPtr r_dest, const char16_t *p_contents, GDExtensionInt p_char_count);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_utf32_chars_and_len)(GDExtensionUninitializedStringPtr r_dest, const char32_t *p_contents, GDExtensionInt p_char_count);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_new_with_wide_chars_and_len)(GDExtensionUninitializedStringPtr r_dest, const wchar_t *p_contents, GDExtensionInt p_char_count);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_string_to_latin1_chars)(GDExtensionConstStringPtr p_self, char *r_text, GDExtensionInt p_max_write_length);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_string_to_utf8_chars)(GDExtensionConstStringPtr p_self, char *r_text, GDExtensionInt p_max_write_length);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_string_to_utf16_chars)(GDExtensionConstStringPtr p_self, char16_t *r_text, GDExtensionInt p_max_write_length);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_string_to_utf32_chars)(GDExtensionConstStringPtr p_self, char32_t *r_text, GDExtensionInt p_max_write_length);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_string_to_wide_chars)(GDExtensionConstStringPtr p_self, wchar_t *r_text, GDExtensionInt p_max_write_length);
    DLL_IMPORT extern char32_t *(*pythonscript_gdptr_string_operator_index)(GDExtensionStringPtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern const char32_t *(*pythonscript_gdptr_string_operator_index_const)(GDExtensionConstStringPtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_operator_plus_eq_string)(GDExtensionStringPtr p_self, GDExtensionConstStringPtr p_b);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_operator_plus_eq_char)(GDExtensionStringPtr p_self, char32_t p_b);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_operator_plus_eq_cstr)(GDExtensionStringPtr p_self, const char *p_b);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_operator_plus_eq_wcstr)(GDExtensionStringPtr p_self, const wchar_t *p_b);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_operator_plus_eq_c32str)(GDExtensionStringPtr p_self, const char32_t *p_b);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_string_resize)(GDExtensionStringPtr p_self, GDExtensionInt p_resize);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_name_new_with_latin1_chars)(GDExtensionUninitializedStringNamePtr r_dest, const char *p_contents, GDExtensionBool p_is_static);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_name_new_with_utf8_chars)(GDExtensionUninitializedStringNamePtr r_dest, const char *p_contents);
    DLL_IMPORT extern void (*pythonscript_gdptr_string_name_new_with_utf8_chars_and_len)(GDExtensionUninitializedStringNamePtr r_dest, const char *p_contents, GDExtensionInt p_size);
    DLL_IMPORT extern GDExtensionInt (*pythonscript_gdptr_xml_parser_open_buffer)(GDExtensionObjectPtr p_instance, const uint8_t *p_buffer, size_t p_size);
    DLL_IMPORT extern void (*pythonscript_gdptr_file_access_store_buffer)(GDExtensionObjectPtr p_instance, const uint8_t *p_src, uint64_t p_length);
    DLL_IMPORT extern uint64_t (*pythonscript_gdptr_file_access_get_buffer)(GDExtensionConstObjectPtr p_instance, uint8_t *p_dst, uint64_t p_length);
    DLL_IMPORT extern int64_t (*pythonscript_gdptr_worker_thread_pool_add_native_group_task)(GDExtensionObjectPtr p_instance, void (*p_func)(void *, uint32_t), void *p_userdata, int p_elements, int p_tasks, GDExtensionBool p_high_priority, GDExtensionConstStringPtr p_description);
    DLL_IMPORT extern int64_t (*pythonscript_gdptr_worker_thread_pool_add_native_task)(GDExtensionObjectPtr p_instance, void (*p_func)(void *), void *p_userdata, GDExtensionBool p_high_priority, GDExtensionConstStringPtr p_description);
    DLL_IMPORT extern uint8_t *(*pythonscript_gdptr_packed_byte_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern const uint8_t *(*pythonscript_gdptr_packed_byte_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionTypePtr (*pythonscript_gdptr_packed_color_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionTypePtr (*pythonscript_gdptr_packed_color_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern float *(*pythonscript_gdptr_packed_float32_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern const float *(*pythonscript_gdptr_packed_float32_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern double *(*pythonscript_gdptr_packed_float64_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern const double *(*pythonscript_gdptr_packed_float64_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern int32_t *(*pythonscript_gdptr_packed_int32_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern const int32_t *(*pythonscript_gdptr_packed_int32_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern int64_t *(*pythonscript_gdptr_packed_int64_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern const int64_t *(*pythonscript_gdptr_packed_int64_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionStringPtr (*pythonscript_gdptr_packed_string_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionStringPtr (*pythonscript_gdptr_packed_string_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionTypePtr (*pythonscript_gdptr_packed_vector2_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionTypePtr (*pythonscript_gdptr_packed_vector2_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionTypePtr (*pythonscript_gdptr_packed_vector3_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionTypePtr (*pythonscript_gdptr_packed_vector3_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionVariantPtr (*pythonscript_gdptr_array_operator_index)(GDExtensionTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern GDExtensionVariantPtr (*pythonscript_gdptr_array_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionInt p_index);
    DLL_IMPORT extern void (*pythonscript_gdptr_array_ref)(GDExtensionTypePtr p_self, GDExtensionConstTypePtr p_from);
    DLL_IMPORT extern void (*pythonscript_gdptr_array_set_typed)(GDExtensionTypePtr p_self, GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstVariantPtr p_script);
    DLL_IMPORT extern GDExtensionVariantPtr (*pythonscript_gdptr_dictionary_operator_index)(GDExtensionTypePtr p_self, GDExtensionConstVariantPtr p_key);
    DLL_IMPORT extern GDExtensionVariantPtr (*pythonscript_gdptr_dictionary_operator_index_const)(GDExtensionConstTypePtr p_self, GDExtensionConstVariantPtr p_key);
    DLL_IMPORT extern void (*pythonscript_gdptr_object_method_bind_call)(GDExtensionMethodBindPtr p_method_bind, GDExtensionObjectPtr p_instance, const GDExtensionConstVariantPtr *p_args, GDExtensionInt p_arg_count, GDExtensionUninitializedVariantPtr r_ret, GDExtensionCallError *r_error);
    DLL_IMPORT extern void (*pythonscript_gdptr_object_method_bind_ptrcall)(GDExtensionMethodBindPtr p_method_bind, GDExtensionObjectPtr p_instance, const GDExtensionConstTypePtr *p_args, GDExtensionTypePtr r_ret);
    DLL_IMPORT extern void (*pythonscript_gdptr_object_destroy)(GDExtensionObjectPtr p_o);
    DLL_IMPORT extern GDExtensionObjectPtr (*pythonscript_gdptr_global_get_singleton)(GDExtensionConstStringNamePtr p_name);
    DLL_IMPORT extern void *(*pythonscript_gdptr_object_get_instance_binding)(GDExtensionObjectPtr p_o, void *p_token, const GDExtensionInstanceBindingCallbacks *p_callbacks);
    DLL_IMPORT extern void (*pythonscript_gdptr_object_set_instance_binding)(GDExtensionObjectPtr p_o, void *p_token, void *p_binding, const GDExtensionInstanceBindingCallbacks *p_callbacks);
    DLL_IMPORT extern void (*pythonscript_gdptr_object_free_instance_binding)(GDExtensionObjectPtr p_o, void *p_token);
    DLL_IMPORT extern void (*pythonscript_gdptr_object_set_instance)(GDExtensionObjectPtr p_o, GDExtensionConstStringNamePtr p_classname, GDExtensionClassInstancePtr p_instance);
    DLL_IMPORT extern GDExtensionBool (*pythonscript_gdptr_object_get_class_name)(GDExtensionConstObjectPtr p_object, GDExtensionClassLibraryPtr p_library, GDExtensionUninitializedStringNamePtr r_class_name);
    DLL_IMPORT extern GDExtensionObjectPtr (*pythonscript_gdptr_object_cast_to)(GDExtensionConstObjectPtr p_object, void *p_class_tag);
    DLL_IMPORT extern GDExtensionObjectPtr (*pythonscript_gdptr_object_get_instance_from_id)(GDObjectInstanceID p_instance_id);
    DLL_IMPORT extern GDObjectInstanceID (*pythonscript_gdptr_object_get_instance_id)(GDExtensionConstObjectPtr p_object);
    DLL_IMPORT extern GDExtensionObjectPtr (*pythonscript_gdptr_ref_get_object)(GDExtensionConstRefPtr p_ref);
    DLL_IMPORT extern void (*pythonscript_gdptr_ref_set_object)(GDExtensionRefPtr p_ref, GDExtensionObjectPtr p_object);
    DLL_IMPORT extern GDExtensionScriptInstancePtr (*pythonscript_gdptr_script_instance_create)(const GDExtensionScriptInstanceInfo *p_info, GDExtensionScriptInstanceDataPtr p_instance_data);
    DLL_IMPORT extern GDExtensionScriptInstancePtr (*pythonscript_gdptr_script_instance_create2)(const GDExtensionScriptInstanceInfo2 *p_info, GDExtensionScriptInstanceDataPtr p_instance_data);
    DLL_IMPORT extern GDExtensionScriptInstancePtr (*pythonscript_gdptr_placeholder_script_instance_create)(GDExtensionObjectPtr p_language, GDExtensionObjectPtr p_script, GDExtensionObjectPtr p_owner);
    DLL_IMPORT extern void (*pythonscript_gdptr_placeholder_script_instance_update)(GDExtensionScriptInstancePtr p_placeholder, GDExtensionConstTypePtr p_properties, GDExtensionConstTypePtr p_values);
    DLL_IMPORT extern GDExtensionScriptInstanceDataPtr (*pythonscript_gdptr_object_get_script_instance)(GDExtensionConstObjectPtr p_object, GDExtensionObjectPtr p_language);
    DLL_IMPORT extern void (*pythonscript_gdptr_callable_custom_create)(GDExtensionUninitializedTypePtr r_callable, GDExtensionCallableCustomInfo *p_callable_custom_info);
    DLL_IMPORT extern void *(*pythonscript_gdptr_callable_custom_get_userdata)(GDExtensionConstTypePtr p_callable, void *p_token);
    DLL_IMPORT extern GDExtensionObjectPtr (*pythonscript_gdptr_classdb_construct_object)(GDExtensionConstStringNamePtr p_classname);
    DLL_IMPORT extern GDExtensionMethodBindPtr (*pythonscript_gdptr_classdb_get_method_bind)(GDExtensionConstStringNamePtr p_classname, GDExtensionConstStringNamePtr p_methodname, GDExtensionInt p_hash);
    DLL_IMPORT extern void *(*pythonscript_gdptr_classdb_get_class_tag)(GDExtensionConstStringNamePtr p_classname);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_parent_class_name, const GDExtensionClassCreationInfo *p_extension_funcs);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class2)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_parent_class_name, const GDExtensionClassCreationInfo2 *p_extension_funcs);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class_method)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, const GDExtensionClassMethodInfo *p_method_info);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class_integer_constant)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_enum_name, GDExtensionConstStringNamePtr p_constant_name, GDExtensionInt p_constant_value, GDExtensionBool p_is_bitfield);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class_property)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, const GDExtensionPropertyInfo *p_info, GDExtensionConstStringNamePtr p_setter, GDExtensionConstStringNamePtr p_getter);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class_property_indexed)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, const GDExtensionPropertyInfo *p_info, GDExtensionConstStringNamePtr p_setter, GDExtensionConstStringNamePtr p_getter, GDExtensionInt p_index);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class_property_group)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringPtr p_group_name, GDExtensionConstStringPtr p_prefix);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class_property_subgroup)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringPtr p_subgroup_name, GDExtensionConstStringPtr p_prefix);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_register_extension_class_signal)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_signal_name, const GDExtensionPropertyInfo *p_argument_info, GDExtensionInt p_argument_count);
    DLL_IMPORT extern void (*pythonscript_gdptr_classdb_unregister_extension_class)(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name);
    DLL_IMPORT extern void (*pythonscript_gdptr_get_library_path)(GDExtensionClassLibraryPtr p_library, GDExtensionUninitializedStringPtr r_path);
    DLL_IMPORT extern void (*pythonscript_gdptr_editor_add_plugin)(GDExtensionConstStringNamePtr p_class_name);
    DLL_IMPORT extern void (*pythonscript_gdptr_editor_remove_plugin)(GDExtensionConstStringNamePtr p_class_name);
    """
    void (*gdptr_get_godot_version "pythonscript_gdptr_get_godot_version")(GDExtensionGodotVersion *r_godot_version)
    void *(*gdptr_mem_alloc "pythonscript_gdptr_mem_alloc")(size_t p_bytes)
    void *(*gdptr_mem_realloc "pythonscript_gdptr_mem_realloc")(void *p_ptr, size_t p_bytes)
    void (*gdptr_mem_free "pythonscript_gdptr_mem_free")(void *p_ptr)
    void (*gdptr_print_error "pythonscript_gdptr_print_error")(const char *p_description, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify)
    void (*gdptr_print_error_with_message "pythonscript_gdptr_print_error_with_message")(const char *p_description, const char *p_message, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify)
    void (*gdptr_print_warning "pythonscript_gdptr_print_warning")(const char *p_description, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify)
    void (*gdptr_print_warning_with_message "pythonscript_gdptr_print_warning_with_message")(const char *p_description, const char *p_message, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify)
    void (*gdptr_print_script_error "pythonscript_gdptr_print_script_error")(const char *p_description, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify)
    void (*gdptr_print_script_error_with_message "pythonscript_gdptr_print_script_error_with_message")(const char *p_description, const char *p_message, const char *p_function, const char *p_file, int32_t p_line, GDExtensionBool p_editor_notify)
    uint64_t (*gdptr_get_native_struct_size "pythonscript_gdptr_get_native_struct_size")(GDExtensionConstStringNamePtr p_name)
    void (*gdptr_variant_new_copy "pythonscript_gdptr_variant_new_copy")(GDExtensionUninitializedVariantPtr r_dest, GDExtensionConstVariantPtr p_src)
    void (*gdptr_variant_new_nil "pythonscript_gdptr_variant_new_nil")(GDExtensionUninitializedVariantPtr r_dest)
    void (*gdptr_variant_destroy "pythonscript_gdptr_variant_destroy")(GDExtensionVariantPtr p_self)
    void (*gdptr_variant_call "pythonscript_gdptr_variant_call")(GDExtensionVariantPtr p_self, GDExtensionConstStringNamePtr p_method, const GDExtensionConstVariantPtr *p_args, GDExtensionInt p_argument_count, GDExtensionUninitializedVariantPtr r_return, GDExtensionCallError *r_error)
    void (*gdptr_variant_call_static "pythonscript_gdptr_variant_call_static")(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_method, const GDExtensionConstVariantPtr *p_args, GDExtensionInt p_argument_count, GDExtensionUninitializedVariantPtr r_return, GDExtensionCallError *r_error)
    void (*gdptr_variant_evaluate "pythonscript_gdptr_variant_evaluate")(GDExtensionVariantOperator p_op, GDExtensionConstVariantPtr p_a, GDExtensionConstVariantPtr p_b, GDExtensionUninitializedVariantPtr r_return, GDExtensionBool *r_valid)
    void (*gdptr_variant_set "pythonscript_gdptr_variant_set")(GDExtensionVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid)
    void (*gdptr_variant_set_named "pythonscript_gdptr_variant_set_named")(GDExtensionVariantPtr p_self, GDExtensionConstStringNamePtr p_key, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid)
    void (*gdptr_variant_set_keyed "pythonscript_gdptr_variant_set_keyed")(GDExtensionVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid)
    void (*gdptr_variant_set_indexed "pythonscript_gdptr_variant_set_indexed")(GDExtensionVariantPtr p_self, GDExtensionInt p_index, GDExtensionConstVariantPtr p_value, GDExtensionBool *r_valid, GDExtensionBool *r_oob)
    void (*gdptr_variant_get "pythonscript_gdptr_variant_get")(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid)
    void (*gdptr_variant_get_named "pythonscript_gdptr_variant_get_named")(GDExtensionConstVariantPtr p_self, GDExtensionConstStringNamePtr p_key, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid)
    void (*gdptr_variant_get_keyed "pythonscript_gdptr_variant_get_keyed")(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid)
    void (*gdptr_variant_get_indexed "pythonscript_gdptr_variant_get_indexed")(GDExtensionConstVariantPtr p_self, GDExtensionInt p_index, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid, GDExtensionBool *r_oob)
    GDExtensionBool (*gdptr_variant_iter_init "pythonscript_gdptr_variant_iter_init")(GDExtensionConstVariantPtr p_self, GDExtensionUninitializedVariantPtr r_iter, GDExtensionBool *r_valid)
    GDExtensionBool (*gdptr_variant_iter_next "pythonscript_gdptr_variant_iter_next")(GDExtensionConstVariantPtr p_self, GDExtensionVariantPtr r_iter, GDExtensionBool *r_valid)
    void (*gdptr_variant_iter_get "pythonscript_gdptr_variant_iter_get")(GDExtensionConstVariantPtr p_self, GDExtensionVariantPtr r_iter, GDExtensionUninitializedVariantPtr r_ret, GDExtensionBool *r_valid)
    GDExtensionInt (*gdptr_variant_hash "pythonscript_gdptr_variant_hash")(GDExtensionConstVariantPtr p_self)
    GDExtensionInt (*gdptr_variant_recursive_hash "pythonscript_gdptr_variant_recursive_hash")(GDExtensionConstVariantPtr p_self, GDExtensionInt p_recursion_count)
    GDExtensionBool (*gdptr_variant_hash_compare "pythonscript_gdptr_variant_hash_compare")(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_other)
    GDExtensionBool (*gdptr_variant_booleanize "pythonscript_gdptr_variant_booleanize")(GDExtensionConstVariantPtr p_self)
    void (*gdptr_variant_duplicate "pythonscript_gdptr_variant_duplicate")(GDExtensionConstVariantPtr p_self, GDExtensionVariantPtr r_ret, GDExtensionBool p_deep)
    void (*gdptr_variant_stringify "pythonscript_gdptr_variant_stringify")(GDExtensionConstVariantPtr p_self, GDExtensionStringPtr r_ret)
    GDExtensionVariantType (*gdptr_variant_get_type "pythonscript_gdptr_variant_get_type")(GDExtensionConstVariantPtr p_self)
    GDExtensionBool (*gdptr_variant_has_method "pythonscript_gdptr_variant_has_method")(GDExtensionConstVariantPtr p_self, GDExtensionConstStringNamePtr p_method)
    GDExtensionBool (*gdptr_variant_has_member "pythonscript_gdptr_variant_has_member")(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_member)
    GDExtensionBool (*gdptr_variant_has_key "pythonscript_gdptr_variant_has_key")(GDExtensionConstVariantPtr p_self, GDExtensionConstVariantPtr p_key, GDExtensionBool *r_valid)
    void (*gdptr_variant_get_type_name "pythonscript_gdptr_variant_get_type_name")(GDExtensionVariantType p_type, GDExtensionUninitializedStringPtr r_name)
    GDExtensionBool (*gdptr_variant_can_convert "pythonscript_gdptr_variant_can_convert")(GDExtensionVariantType p_from, GDExtensionVariantType p_to)
    GDExtensionBool (*gdptr_variant_can_convert_strict "pythonscript_gdptr_variant_can_convert_strict")(GDExtensionVariantType p_from, GDExtensionVariantType p_to)
    GDExtensionVariantFromTypeConstructorFunc (*gdptr_get_variant_from_type_constructor "pythonscript_gdptr_get_variant_from_type_constructor")(GDExtensionVariantType p_type)
    GDExtensionTypeFromVariantConstructorFunc (*gdptr_get_variant_to_type_constructor "pythonscript_gdptr_get_variant_to_type_constructor")(GDExtensionVariantType p_type)
    GDExtensionPtrOperatorEvaluator (*gdptr_variant_get_ptr_operator_evaluator "pythonscript_gdptr_variant_get_ptr_operator_evaluator")(GDExtensionVariantOperator p_operator, GDExtensionVariantType p_type_a, GDExtensionVariantType p_type_b)
    GDExtensionPtrBuiltInMethod (*gdptr_variant_get_ptr_builtin_method "pythonscript_gdptr_variant_get_ptr_builtin_method")(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_method, GDExtensionInt p_hash)
    GDExtensionPtrConstructor (*gdptr_variant_get_ptr_constructor "pythonscript_gdptr_variant_get_ptr_constructor")(GDExtensionVariantType p_type, int32_t p_constructor)
    GDExtensionPtrDestructor (*gdptr_variant_get_ptr_destructor "pythonscript_gdptr_variant_get_ptr_destructor")(GDExtensionVariantType p_type)
    void (*gdptr_variant_construct "pythonscript_gdptr_variant_construct")(GDExtensionVariantType p_type, GDExtensionUninitializedVariantPtr r_base, const GDExtensionConstVariantPtr *p_args, int32_t p_argument_count, GDExtensionCallError *r_error)
    GDExtensionPtrSetter (*gdptr_variant_get_ptr_setter "pythonscript_gdptr_variant_get_ptr_setter")(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_member)
    GDExtensionPtrGetter (*gdptr_variant_get_ptr_getter "pythonscript_gdptr_variant_get_ptr_getter")(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_member)
    GDExtensionPtrIndexedSetter (*gdptr_variant_get_ptr_indexed_setter "pythonscript_gdptr_variant_get_ptr_indexed_setter")(GDExtensionVariantType p_type)
    GDExtensionPtrIndexedGetter (*gdptr_variant_get_ptr_indexed_getter "pythonscript_gdptr_variant_get_ptr_indexed_getter")(GDExtensionVariantType p_type)
    GDExtensionPtrKeyedSetter (*gdptr_variant_get_ptr_keyed_setter "pythonscript_gdptr_variant_get_ptr_keyed_setter")(GDExtensionVariantType p_type)
    GDExtensionPtrKeyedGetter (*gdptr_variant_get_ptr_keyed_getter "pythonscript_gdptr_variant_get_ptr_keyed_getter")(GDExtensionVariantType p_type)
    GDExtensionPtrKeyedChecker (*gdptr_variant_get_ptr_keyed_checker "pythonscript_gdptr_variant_get_ptr_keyed_checker")(GDExtensionVariantType p_type)
    void (*gdptr_variant_get_constant_value "pythonscript_gdptr_variant_get_constant_value")(GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_constant, GDExtensionUninitializedVariantPtr r_ret)
    GDExtensionPtrUtilityFunction (*gdptr_variant_get_ptr_utility_function "pythonscript_gdptr_variant_get_ptr_utility_function")(GDExtensionConstStringNamePtr p_function, GDExtensionInt p_hash)
    void (*gdptr_string_new_with_latin1_chars "pythonscript_gdptr_string_new_with_latin1_chars")(GDExtensionUninitializedStringPtr r_dest, const char *p_contents)
    void (*gdptr_string_new_with_utf8_chars "pythonscript_gdptr_string_new_with_utf8_chars")(GDExtensionUninitializedStringPtr r_dest, const char *p_contents)
    void (*gdptr_string_new_with_utf16_chars "pythonscript_gdptr_string_new_with_utf16_chars")(GDExtensionUninitializedStringPtr r_dest, const char16_t *p_contents)
    void (*gdptr_string_new_with_utf32_chars "pythonscript_gdptr_string_new_with_utf32_chars")(GDExtensionUninitializedStringPtr r_dest, const char32_t *p_contents)
    void (*gdptr_string_new_with_wide_chars "pythonscript_gdptr_string_new_with_wide_chars")(GDExtensionUninitializedStringPtr r_dest, const wchar_t *p_contents)
    void (*gdptr_string_new_with_latin1_chars_and_len "pythonscript_gdptr_string_new_with_latin1_chars_and_len")(GDExtensionUninitializedStringPtr r_dest, const char *p_contents, GDExtensionInt p_size)
    void (*gdptr_string_new_with_utf8_chars_and_len "pythonscript_gdptr_string_new_with_utf8_chars_and_len")(GDExtensionUninitializedStringPtr r_dest, const char *p_contents, GDExtensionInt p_size)
    void (*gdptr_string_new_with_utf16_chars_and_len "pythonscript_gdptr_string_new_with_utf16_chars_and_len")(GDExtensionUninitializedStringPtr r_dest, const char16_t *p_contents, GDExtensionInt p_char_count)
    void (*gdptr_string_new_with_utf32_chars_and_len "pythonscript_gdptr_string_new_with_utf32_chars_and_len")(GDExtensionUninitializedStringPtr r_dest, const char32_t *p_contents, GDExtensionInt p_char_count)
    void (*gdptr_string_new_with_wide_chars_and_len "pythonscript_gdptr_string_new_with_wide_chars_and_len")(GDExtensionUninitializedStringPtr r_dest, const wchar_t *p_contents, GDExtensionInt p_char_count)
    GDExtensionInt (*gdptr_string_to_latin1_chars "pythonscript_gdptr_string_to_latin1_chars")(GDExtensionConstStringPtr p_self, char *r_text, GDExtensionInt p_max_write_length)
    GDExtensionInt (*gdptr_string_to_utf8_chars "pythonscript_gdptr_string_to_utf8_chars")(GDExtensionConstStringPtr p_self, char *r_text, GDExtensionInt p_max_write_length)
    GDExtensionInt (*gdptr_string_to_utf16_chars "pythonscript_gdptr_string_to_utf16_chars")(GDExtensionConstStringPtr p_self, char16_t *r_text, GDExtensionInt p_max_write_length)
    GDExtensionInt (*gdptr_string_to_utf32_chars "pythonscript_gdptr_string_to_utf32_chars")(GDExtensionConstStringPtr p_self, char32_t *r_text, GDExtensionInt p_max_write_length)
    GDExtensionInt (*gdptr_string_to_wide_chars "pythonscript_gdptr_string_to_wide_chars")(GDExtensionConstStringPtr p_self, wchar_t *r_text, GDExtensionInt p_max_write_length)
    char32_t *(*gdptr_string_operator_index "pythonscript_gdptr_string_operator_index")(GDExtensionStringPtr p_self, GDExtensionInt p_index)
    const char32_t *(*gdptr_string_operator_index_const "pythonscript_gdptr_string_operator_index_const")(GDExtensionConstStringPtr p_self, GDExtensionInt p_index)
    void (*gdptr_string_operator_plus_eq_string "pythonscript_gdptr_string_operator_plus_eq_string")(GDExtensionStringPtr p_self, GDExtensionConstStringPtr p_b)
    void (*gdptr_string_operator_plus_eq_char "pythonscript_gdptr_string_operator_plus_eq_char")(GDExtensionStringPtr p_self, char32_t p_b)
    void (*gdptr_string_operator_plus_eq_cstr "pythonscript_gdptr_string_operator_plus_eq_cstr")(GDExtensionStringPtr p_self, const char *p_b)
    void (*gdptr_string_operator_plus_eq_wcstr "pythonscript_gdptr_string_operator_plus_eq_wcstr")(GDExtensionStringPtr p_self, const wchar_t *p_b)
    void (*gdptr_string_operator_plus_eq_c32str "pythonscript_gdptr_string_operator_plus_eq_c32str")(GDExtensionStringPtr p_self, const char32_t *p_b)
    GDExtensionInt (*gdptr_string_resize "pythonscript_gdptr_string_resize")(GDExtensionStringPtr p_self, GDExtensionInt p_resize)
    void (*gdptr_string_name_new_with_latin1_chars "pythonscript_gdptr_string_name_new_with_latin1_chars")(GDExtensionUninitializedStringNamePtr r_dest, const char *p_contents, GDExtensionBool p_is_static)
    void (*gdptr_string_name_new_with_utf8_chars "pythonscript_gdptr_string_name_new_with_utf8_chars")(GDExtensionUninitializedStringNamePtr r_dest, const char *p_contents)
    void (*gdptr_string_name_new_with_utf8_chars_and_len "pythonscript_gdptr_string_name_new_with_utf8_chars_and_len")(GDExtensionUninitializedStringNamePtr r_dest, const char *p_contents, GDExtensionInt p_size)
    GDExtensionInt (*gdptr_xml_parser_open_buffer "pythonscript_gdptr_xml_parser_open_buffer")(GDExtensionObjectPtr p_instance, const uint8_t *p_buffer, size_t p_size)
    void (*gdptr_file_access_store_buffer "pythonscript_gdptr_file_access_store_buffer")(GDExtensionObjectPtr p_instance, const uint8_t *p_src, uint64_t p_length)
    uint64_t (*gdptr_file_access_get_buffer "pythonscript_gdptr_file_access_get_buffer")(GDExtensionConstObjectPtr p_instance, uint8_t *p_dst, uint64_t p_length)
    int64_t (*gdptr_worker_thread_pool_add_native_group_task "pythonscript_gdptr_worker_thread_pool_add_native_group_task")(GDExtensionObjectPtr p_instance, void (*p_func)(void *, uint32_t), void *p_userdata, int p_elements, int p_tasks, GDExtensionBool p_high_priority, GDExtensionConstStringPtr p_description)
    int64_t (*gdptr_worker_thread_pool_add_native_task "pythonscript_gdptr_worker_thread_pool_add_native_task")(GDExtensionObjectPtr p_instance, void (*p_func)(void *), void *p_userdata, GDExtensionBool p_high_priority, GDExtensionConstStringPtr p_description)
    uint8_t *(*gdptr_packed_byte_array_operator_index "pythonscript_gdptr_packed_byte_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    const uint8_t *(*gdptr_packed_byte_array_operator_index_const "pythonscript_gdptr_packed_byte_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    GDExtensionTypePtr (*gdptr_packed_color_array_operator_index "pythonscript_gdptr_packed_color_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    GDExtensionTypePtr (*gdptr_packed_color_array_operator_index_const "pythonscript_gdptr_packed_color_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    float *(*gdptr_packed_float32_array_operator_index "pythonscript_gdptr_packed_float32_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    const float *(*gdptr_packed_float32_array_operator_index_const "pythonscript_gdptr_packed_float32_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    double *(*gdptr_packed_float64_array_operator_index "pythonscript_gdptr_packed_float64_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    const double *(*gdptr_packed_float64_array_operator_index_const "pythonscript_gdptr_packed_float64_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    int32_t *(*gdptr_packed_int32_array_operator_index "pythonscript_gdptr_packed_int32_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    const int32_t *(*gdptr_packed_int32_array_operator_index_const "pythonscript_gdptr_packed_int32_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    int64_t *(*gdptr_packed_int64_array_operator_index "pythonscript_gdptr_packed_int64_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    const int64_t *(*gdptr_packed_int64_array_operator_index_const "pythonscript_gdptr_packed_int64_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    GDExtensionStringPtr (*gdptr_packed_string_array_operator_index "pythonscript_gdptr_packed_string_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    GDExtensionStringPtr (*gdptr_packed_string_array_operator_index_const "pythonscript_gdptr_packed_string_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    GDExtensionTypePtr (*gdptr_packed_vector2_array_operator_index "pythonscript_gdptr_packed_vector2_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    GDExtensionTypePtr (*gdptr_packed_vector2_array_operator_index_const "pythonscript_gdptr_packed_vector2_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    GDExtensionTypePtr (*gdptr_packed_vector3_array_operator_index "pythonscript_gdptr_packed_vector3_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    GDExtensionTypePtr (*gdptr_packed_vector3_array_operator_index_const "pythonscript_gdptr_packed_vector3_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    GDExtensionVariantPtr (*gdptr_array_operator_index "pythonscript_gdptr_array_operator_index")(GDExtensionTypePtr p_self, GDExtensionInt p_index)
    GDExtensionVariantPtr (*gdptr_array_operator_index_const "pythonscript_gdptr_array_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionInt p_index)
    void (*gdptr_array_ref "pythonscript_gdptr_array_ref")(GDExtensionTypePtr p_self, GDExtensionConstTypePtr p_from)
    void (*gdptr_array_set_typed "pythonscript_gdptr_array_set_typed")(GDExtensionTypePtr p_self, GDExtensionVariantType p_type, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstVariantPtr p_script)
    GDExtensionVariantPtr (*gdptr_dictionary_operator_index "pythonscript_gdptr_dictionary_operator_index")(GDExtensionTypePtr p_self, GDExtensionConstVariantPtr p_key)
    GDExtensionVariantPtr (*gdptr_dictionary_operator_index_const "pythonscript_gdptr_dictionary_operator_index_const")(GDExtensionConstTypePtr p_self, GDExtensionConstVariantPtr p_key)
    void (*gdptr_object_method_bind_call "pythonscript_gdptr_object_method_bind_call")(GDExtensionMethodBindPtr p_method_bind, GDExtensionObjectPtr p_instance, const GDExtensionConstVariantPtr *p_args, GDExtensionInt p_arg_count, GDExtensionUninitializedVariantPtr r_ret, GDExtensionCallError *r_error)
    void (*gdptr_object_method_bind_ptrcall "pythonscript_gdptr_object_method_bind_ptrcall")(GDExtensionMethodBindPtr p_method_bind, GDExtensionObjectPtr p_instance, const GDExtensionConstTypePtr *p_args, GDExtensionTypePtr r_ret)
    void (*gdptr_object_destroy "pythonscript_gdptr_object_destroy")(GDExtensionObjectPtr p_o)
    GDExtensionObjectPtr (*gdptr_global_get_singleton "pythonscript_gdptr_global_get_singleton")(GDExtensionConstStringNamePtr p_name)
    void *(*gdptr_object_get_instance_binding "pythonscript_gdptr_object_get_instance_binding")(GDExtensionObjectPtr p_o, void *p_token, const GDExtensionInstanceBindingCallbacks *p_callbacks)
    void (*gdptr_object_set_instance_binding "pythonscript_gdptr_object_set_instance_binding")(GDExtensionObjectPtr p_o, void *p_token, void *p_binding, const GDExtensionInstanceBindingCallbacks *p_callbacks)
    void (*gdptr_object_free_instance_binding "pythonscript_gdptr_object_free_instance_binding")(GDExtensionObjectPtr p_o, void *p_token)
    void (*gdptr_object_set_instance "pythonscript_gdptr_object_set_instance")(GDExtensionObjectPtr p_o, GDExtensionConstStringNamePtr p_classname, GDExtensionClassInstancePtr p_instance)
    GDExtensionBool (*gdptr_object_get_class_name "pythonscript_gdptr_object_get_class_name")(GDExtensionConstObjectPtr p_object, GDExtensionClassLibraryPtr p_library, GDExtensionUninitializedStringNamePtr r_class_name)
    GDExtensionObjectPtr (*gdptr_object_cast_to "pythonscript_gdptr_object_cast_to")(GDExtensionConstObjectPtr p_object, void *p_class_tag)
    GDExtensionObjectPtr (*gdptr_object_get_instance_from_id "pythonscript_gdptr_object_get_instance_from_id")(GDObjectInstanceID p_instance_id)
    GDObjectInstanceID (*gdptr_object_get_instance_id "pythonscript_gdptr_object_get_instance_id")(GDExtensionConstObjectPtr p_object)
    GDExtensionObjectPtr (*gdptr_ref_get_object "pythonscript_gdptr_ref_get_object")(GDExtensionConstRefPtr p_ref)
    void (*gdptr_ref_set_object "pythonscript_gdptr_ref_set_object")(GDExtensionRefPtr p_ref, GDExtensionObjectPtr p_object)
    GDExtensionScriptInstancePtr (*gdptr_script_instance_create "pythonscript_gdptr_script_instance_create")(const GDExtensionScriptInstanceInfo *p_info, GDExtensionScriptInstanceDataPtr p_instance_data)
    GDExtensionScriptInstancePtr (*gdptr_script_instance_create2 "pythonscript_gdptr_script_instance_create2")(const GDExtensionScriptInstanceInfo2 *p_info, GDExtensionScriptInstanceDataPtr p_instance_data)
    GDExtensionScriptInstancePtr (*gdptr_placeholder_script_instance_create "pythonscript_gdptr_placeholder_script_instance_create")(GDExtensionObjectPtr p_language, GDExtensionObjectPtr p_script, GDExtensionObjectPtr p_owner)
    void (*gdptr_placeholder_script_instance_update "pythonscript_gdptr_placeholder_script_instance_update")(GDExtensionScriptInstancePtr p_placeholder, GDExtensionConstTypePtr p_properties, GDExtensionConstTypePtr p_values)
    GDExtensionScriptInstanceDataPtr (*gdptr_object_get_script_instance "pythonscript_gdptr_object_get_script_instance")(GDExtensionConstObjectPtr p_object, GDExtensionObjectPtr p_language)
    void (*gdptr_callable_custom_create "pythonscript_gdptr_callable_custom_create")(GDExtensionUninitializedTypePtr r_callable, GDExtensionCallableCustomInfo *p_callable_custom_info)
    void *(*gdptr_callable_custom_get_userdata "pythonscript_gdptr_callable_custom_get_userdata")(GDExtensionConstTypePtr p_callable, void *p_token)
    GDExtensionObjectPtr (*gdptr_classdb_construct_object "pythonscript_gdptr_classdb_construct_object")(GDExtensionConstStringNamePtr p_classname)
    GDExtensionMethodBindPtr (*gdptr_classdb_get_method_bind "pythonscript_gdptr_classdb_get_method_bind")(GDExtensionConstStringNamePtr p_classname, GDExtensionConstStringNamePtr p_methodname, GDExtensionInt p_hash)
    void *(*gdptr_classdb_get_class_tag "pythonscript_gdptr_classdb_get_class_tag")(GDExtensionConstStringNamePtr p_classname)
    void (*gdptr_classdb_register_extension_class "pythonscript_gdptr_classdb_register_extension_class")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_parent_class_name, const GDExtensionClassCreationInfo *p_extension_funcs)
    void (*gdptr_classdb_register_extension_class2 "pythonscript_gdptr_classdb_register_extension_class2")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_parent_class_name, const GDExtensionClassCreationInfo2 *p_extension_funcs)
    void (*gdptr_classdb_register_extension_class_method "pythonscript_gdptr_classdb_register_extension_class_method")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, const GDExtensionClassMethodInfo *p_method_info)
    void (*gdptr_classdb_register_extension_class_integer_constant "pythonscript_gdptr_classdb_register_extension_class_integer_constant")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_enum_name, GDExtensionConstStringNamePtr p_constant_name, GDExtensionInt p_constant_value, GDExtensionBool p_is_bitfield)
    void (*gdptr_classdb_register_extension_class_property "pythonscript_gdptr_classdb_register_extension_class_property")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, const GDExtensionPropertyInfo *p_info, GDExtensionConstStringNamePtr p_setter, GDExtensionConstStringNamePtr p_getter)
    void (*gdptr_classdb_register_extension_class_property_indexed "pythonscript_gdptr_classdb_register_extension_class_property_indexed")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, const GDExtensionPropertyInfo *p_info, GDExtensionConstStringNamePtr p_setter, GDExtensionConstStringNamePtr p_getter, GDExtensionInt p_index)
    void (*gdptr_classdb_register_extension_class_property_group "pythonscript_gdptr_classdb_register_extension_class_property_group")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringPtr p_group_name, GDExtensionConstStringPtr p_prefix)
    void (*gdptr_classdb_register_extension_class_property_subgroup "pythonscript_gdptr_classdb_register_extension_class_property_subgroup")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringPtr p_subgroup_name, GDExtensionConstStringPtr p_prefix)
    void (*gdptr_classdb_register_extension_class_signal "pythonscript_gdptr_classdb_register_extension_class_signal")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name, GDExtensionConstStringNamePtr p_signal_name, const GDExtensionPropertyInfo *p_argument_info, GDExtensionInt p_argument_count)
    void (*gdptr_classdb_unregister_extension_class "pythonscript_gdptr_classdb_unregister_extension_class")(GDExtensionClassLibraryPtr p_library, GDExtensionConstStringNamePtr p_class_name)
    void (*gdptr_get_library_path "pythonscript_gdptr_get_library_path")(GDExtensionClassLibraryPtr p_library, GDExtensionUninitializedStringPtr r_path)
    void (*gdptr_editor_add_plugin "pythonscript_gdptr_editor_add_plugin")(GDExtensionConstStringNamePtr p_class_name)
    void (*gdptr_editor_remove_plugin "pythonscript_gdptr_editor_remove_plugin")(GDExtensionConstStringNamePtr p_class_name)


##############################################################################
# Function pointers on Godot GDExtension API                                    #
##############################################################################


cdef extern from * nogil:
    """
    #include <godot/gdextension_interface.h>
    #ifdef _WIN32
    # define DLL_IMPORT __declspec(dllimport)
    #else
    # define DLL_IMPORT
    #endif
    DLL_IMPORT extern GDExtensionTypeFromVariantConstructorFunc pythonscript_gdptr_object_from_variant;
    DLL_IMPORT extern GDExtensionVariantFromTypeConstructorFunc pythonscript_gdptr_object_into_variant;
    DLL_IMPORT extern GDExtensionTypeFromVariantConstructorFunc pythonscript_gdptr_bool_from_variant;
    DLL_IMPORT extern GDExtensionVariantFromTypeConstructorFunc pythonscript_gdptr_bool_into_variant;
    DLL_IMPORT extern GDExtensionTypeFromVariantConstructorFunc pythonscript_gdptr_int_from_variant;
    DLL_IMPORT extern GDExtensionVariantFromTypeConstructorFunc pythonscript_gdptr_int_into_variant;
    DLL_IMPORT extern GDExtensionTypeFromVariantConstructorFunc pythonscript_gdptr_float_from_variant;
    DLL_IMPORT extern GDExtensionVariantFromTypeConstructorFunc pythonscript_gdptr_float_into_variant;
    """

    GDExtensionTypeFromVariantConstructorFunc gdptr_object_from_variant "pythonscript_gdptr_object_from_variant"
    GDExtensionVariantFromTypeConstructorFunc gdptr_object_into_variant "pythonscript_gdptr_object_into_variant"
    GDExtensionTypeFromVariantConstructorFunc gdptr_bool_from_variant "pythonscript_gdptr_bool_from_variant"
    GDExtensionVariantFromTypeConstructorFunc gdptr_bool_into_variant "pythonscript_gdptr_bool_into_variant"
    GDExtensionTypeFromVariantConstructorFunc gdptr_int_from_variant "pythonscript_gdptr_int_from_variant"
    GDExtensionVariantFromTypeConstructorFunc gdptr_int_into_variant "pythonscript_gdptr_int_into_variant"
    GDExtensionTypeFromVariantConstructorFunc gdptr_float_from_variant "pythonscript_gdptr_float_from_variant"
    GDExtensionVariantFromTypeConstructorFunc gdptr_float_into_variant "pythonscript_gdptr_float_into_variant"
{% for builtin in api.builtins %}


cdef extern from * nogil:
    """
    #include <godot/gdextension_interface.h>
    #ifdef _WIN32
    # define DLL_IMPORT __declspec(dllimport)
    #else
    # define DLL_IMPORT
    #endif
{%   for c in builtin.constructors %}
    DLL_IMPORT extern GDExtensionPtrConstructor pythonscript_gdptr_{{ builtin.snake_name }}_constructor_{{ c.index }};
{%   endfor %}
{%   if not builtin.is_stack_only %}
    DLL_IMPORT extern GDExtensionPtrDestructor pythonscript_gdptr_{{ builtin.snake_name }}_destructor;
{%   endif %}
{%   for m in builtin.methods %}
    DLL_IMPORT extern GDExtensionPtrBuiltInMethod pythonscript_gdptr_{{ builtin.snake_name }}_meth_{{ m.name }};
{%   endfor %}
{%   if builtin.indexing_return_type is not none and builtin.is_keyed %}
    DLL_IMPORT extern GDExtensionPtrKeyedSetter pythonscript_gdptr_{{ builtin.snake_name }}_keyed_setter;
    DLL_IMPORT extern GDExtensionPtrKeyedGetter pythonscript_gdptr_{{ builtin.snake_name }}_keyed_getter;
{%   endif %}
{%   if builtin.indexing_return_type is not none and not builtin.is_keyed %}
    DLL_IMPORT extern GDExtensionPtrIndexedSetter pythonscript_gdptr_{{ builtin.snake_name }}_indexed_setter;
    DLL_IMPORT extern GDExtensionPtrIndexedGetter pythonscript_gdptr_{{ builtin.snake_name }}_indexed_getter;
{%   endif %}
{%   for o in builtin.operators %}
    DLL_IMPORT extern GDExtensionPtrOperatorEvaluator pythonscript_gdptr_{{ builtin.snake_name }}_op_{{ o.name }};
{%   endfor %}
{%   for m in builtin.members %}
{%     if not m.is_in_struct %}
    DLL_IMPORT extern GDExtensionPtrSetter pythonscript_gdptr_{{ builtin.snake_name }}_get_{{ m.name }};
    DLL_IMPORT extern GDExtensionPtrGetter pythonscript_gdptr_{{ builtin.snake_name }}_set_{{ m.name }};
{%     endif %}
{%   endfor %}
    DLL_IMPORT extern GDExtensionTypeFromVariantConstructorFunc pythonscript_gdptr_{{ builtin.snake_name }}_from_variant;
    DLL_IMPORT extern GDExtensionVariantFromTypeConstructorFunc pythonscript_gdptr_{{ builtin.snake_name }}_into_variant;
    """

# {{ builtin.original_name }}
{%   for c in builtin.constructors %}
    GDExtensionPtrConstructor gdptr_{{ builtin.snake_name }}_constructor_{{ c.index }} "pythonscript_gdptr_{{ builtin.snake_name }}_constructor_{{ c.index }}"
{%   endfor %}
{%   if not builtin.is_stack_only %}
    GDExtensionPtrDestructor gdptr_{{ builtin.snake_name }}_destructor "pythonscript_gdptr_{{ builtin.snake_name }}_destructor"
{%   endif %}
{%   for m in builtin.methods %}
    GDExtensionPtrBuiltInMethod gdptr_{{ builtin.snake_name }}_meth_{{ m.name }} "pythonscript_gdptr_{{ builtin.snake_name }}_meth_{{ m.name }}"
{%   endfor %}
{%   if builtin.indexing_return_type is not none and builtin.is_keyed %}
    GDExtensionPtrKeyedSetter gdptr_{{ builtin.snake_name }}_keyed_setter "pythonscript_gdptr_{{ builtin.snake_name }}_keyed_setter"
    GDExtensionPtrKeyedGetter gdptr_{{ builtin.snake_name }}_keyed_getter "pythonscript_gdptr_{{ builtin.snake_name }}_keyed_getter"
{%   endif %}
{%   if builtin.indexing_return_type is not none and not builtin.is_keyed %}
    GDExtensionPtrIndexedSetter gdptr_{{ builtin.snake_name }}_indexed_setter "pythonscript_gdptr_{{ builtin.snake_name }}_indexed_setter"
    GDExtensionPtrIndexedGetter gdptr_{{ builtin.snake_name }}_indexed_getter "pythonscript_gdptr_{{ builtin.snake_name }}_indexed_getter"
{%   endif %}
{%   for o in builtin.operators %}
    GDExtensionPtrOperatorEvaluator gdptr_{{ builtin.snake_name }}_op_{{ o.name }} "pythonscript_gdptr_{{ builtin.snake_name }}_op_{{ o.name }}"
{%   endfor %}
{%   for m in builtin.members %}
{%     if not m.is_in_struct %}
    GDExtensionPtrSetter gdptr_{{ builtin.snake_name }}_get_{{ m.name }} "pythonscript_gdptr_{{ builtin.snake_name }}_get_{{ m.name }}"
    GDExtensionPtrGetter gdptr_{{ builtin.snake_name }}_set_{{ m.name }} "pythonscript_gdptr_{{ builtin.snake_name }}_set_{{ m.name }}"
{%     endif %}
{%   endfor %}
    GDExtensionTypeFromVariantConstructorFunc gdptr_{{ builtin.snake_name }}_from_variant "pythonscript_gdptr_{{ builtin.snake_name }}_from_variant"
    GDExtensionVariantFromTypeConstructorFunc gdptr_{{ builtin.snake_name }}_into_variant "pythonscript_gdptr_{{ builtin.snake_name }}_into_variant"
{% endfor %}


cdef extern from * nogil:
    """
    #include <godot/gdextension_interface.h>
    #ifdef _WIN32
    # define DLL_IMPORT __declspec(dllimport)
    #else
    # define DLL_IMPORT
    #endif
{% for utility in api.utility_functions %}
    DLL_IMPORT extern GDExtensionPtrUtilityFunction pythonscript_gdptr_utility_{{ utility.original_name }};
{% endfor %}
    """

{% for utility in api.utility_functions %}
    # {{ utility.original_name }}
    GDExtensionPtrUtilityFunction gdptr_utility_{{ utility.original_name }} "pythonscript_gdptr_utility_{{ utility.original_name }}"
{% endfor %}
